<div style="margin-top: 50px;" id="tdttt">
  <div class="payment-staps-way-wrap section-space--pb_120">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style=" padding-top: 10px;" >
          <div class="ssection-space--mb_20 ">
            <div class="text-center  ">
              <h2 class="title"style="text-align: center;">TUYỂN DỤNG - TIN TỨC</h2>
              <hr id="gachchan" class="gioithieu">
            </div>
          </div>
        </div>
      </div>
      <div class="row " >
        <div class="col-lg-12">
          
            <div class="row align-items-center justify-content-center ">
              <div class="col-lg-4 " >
                <!-- slide -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 40px;" >
                  
                  <div class="carousel-inner" >
                    
                    <div class="item " [class]="s == 0 ? 'active' : '' " *ngFor="let recruit of recruitList ; let s = index ">
                      <div *ngIf="s<=4">
                      <img style="font-weight: 400; width: 100%; height: 250px;" src="{{recruit.thumb.pathUrl}}"  alt="" loading="lazy">
                    
                      <div class="blog-innerr" style="background-color: #ffffff; padding: 5px 5px 5px 5px;" >
                        <h6 class="post-title" >
                          <a href="{{recruit.url}}" tabindex="-1" class="h7tttd">{{recruit.title}}</a>
                        </h6>
                        <div class="post-excerpt" >
                          <p class="ptdtt">{{recruit.description}}</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                <script>
                  $(document).ready(function(){
                    $('.carousel').carousel({
                      interval: 100 // Điều chỉnh thời gian chuyển đổi slide
                    })
                  });
                </script>
                <div class="col-xs-12" >
                  <div class="service-link"><a id="aa" class="wpb_color-gree" href="/recruit">TÌM HIỂU THÊM</a></div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="nav">
                  <div class="float-md-left">
                    <div class="recruit">
                      <ul *ngFor="let news of newsList ; let n =  index" >
                        <li *ngIf="n<3">
                          <div class="disp-inflex" style="padding-top: 2px">
                            <div class="anhtintuc" >
                              <a href="{{news.url}}" title="{{news.title}}" style="height: 100%;">
                                <img  src="{{news.newsImage.pathUrl}}" class="image" alt="" loading="lazy"></a>
                            </div>
                            <div class="blog-inner" style="display: inline-block;width: 70%;">
                              <a href="{{news.url}}" id="text">{{news.title}}</a>
                              <p>{{news.description}}</p>
                            </div>
                          </div>
                          <hr >
                        </li>
                      </ul>
                      <div  style="margin: 50px 0 20px 0px;">
                        <div class="col-xs-12" >
                          <div class="service-link"><a id="aa" class="wpb_color-gree" href="/news">TÌM HIỂU THÊM</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
