<form (ngSubmit)="onSubmit()">
  <div class="container section-space--mt_100">
    <p class="title-add"> Thêm mới</p>
    <div class="row">
      <div class="user-content col-lg-12 col-12 ">
        <div class="row " style="justify-content: center;">
          <div class="col-12" *ngIf="id ; else add">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <div class="options">
                  <div class="title">Họ</div>
                  <input type="text" [(ngModel)]="user.firstName" name="firstName" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="options">
                  <div class="title">Tên</div>
                  <input type="text" [(ngModel)]="user.lastName" name="lastName" disabled>
                </div>
              </div>
              <div class="col-md-8">
                <div class="options">
                  <div class="title">Tài khoản</div>
                  <input type="text" [(ngModel)]="user.username" name="username" disabled>
                </div>
              </div>
              <div class="col-md-8">
                <div class="options">
                  <div class="title">Email</div>
                  <input type="email" [(ngModel)]="user.email" name="email" disabled>
                </div>
              </div>
            </div>
          </div>

          <ng-template #add>
            <div class="col-md-4">
              <div class="options">
                <div class="title">Họ</div>
                <input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="Họ">
              </div>
            </div>
            <div class="col-md-4">
              <div class="options">
                <div class="title">Tên</div>
                <input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Tên">
              </div>
            </div>
            <div class="col-md-8">
              <div class="options">
                <div class="title">Tài khoản</div>
                <input type="text" [(ngModel)]="user.username" name="username" placeholder="Tài khoản">
              </div>
            </div>
            <div class="col-md-8">
              <!-- Email input  -->
              <div class="options">
                <div class="title">Email</div>
                <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email">
              </div>
            </div>
          </ng-template>

          <div class="col-md-8" *ngIf="id; else elseBlock">
            <div class="col-md-6">
              <div class="d-flex mb-2 mb-md-4 ">
                <div class="title">Đặt lại mật khẩu</div>
                <button type="button" (click)="changePassword(user.id)" class="btn"><i
                    class="far fa-history"></i></button>
              </div>
            </div>
            <div class="col-md-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="form-check">
                    <input type="checkbox" name="active" [(ngModel)]="user.active" [checked]="user.active"
                      (change)="onCheckChange($event, user)">
                    <strong> Trạng Thái hoạt động</strong>
                  </div>
                  <!--            </li>-->
                  <!--            <li class="list-group-item" *ngFor="let u of user">-->
                  <!--              <div class="form-check">-->
                  <!--                <input type="checkbox" [value]="u.selected" [checked]="u.selected" (change)="onCheckChange($event, u)" class="custom-control-input" id="customCheck{{u.id}}">-->
                  <!--                <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck{{u.id}}"></label>-->
                  <!--              </div>-->
                  <!--            </li>-->
              </ul>
            </div>
            <div class="col-md-12">
              <div class="title">Vai trò</div>
              <div class="roles-box">
                <div>
                  <ul class="list-group">

                    <!--                updateUser-->
                    <!--                <li class="list-group-item" *ngFor="let r of role">-->
                    <!--                  <div class="form-check">-->
                    <!--                    <input type="checkbox" [value]="r.selected" [checked]="r.selected"-->
                    <!--                           (change)="onRoleChange($event, r)" class="custom-control-input" id="customCheck{{r.id}}">-->
                    <!--                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck{{r.id}}">{{r.name}}</label>-->

                    <!--                  </div>-->
                    <!--                </li>-->

                    <!--                updateUser1-->
                    <li class="list-group-item" *ngFor="let r of roles">
                      <div class="form-check">
                        <input type="checkbox" [value]="r.selected" [checked]="r.selected"
                          (change)="onRoleChange($event,r)" class="custom-control-input" id="customCheck{{r.id}}">
                        <label class="cursor-pointer font-italic d-block custom-control-label"
                          for="customCheck{{r.id}}">{{r.name}}</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <ul class="list-group">
                <h3>Quyền truy cập</h3>
                <li class="list-group-item" *ngFor="let module of modules ;">
                  <div class="form-check">

                    <input type="checkbox" [value]="module.status" [checked]="module.status"
                      (change)="onModulechange($event,module)" class="custom-control-input" id="module{{module.id}}">
                    <label class="cursor-pointer font-italic d-block custom-control-label"
                      for="module{{module.id}}">{{module.tittle}}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <ng-template #elseBlock>
              <div class="options col-md-8">
                <div class="title">Mật khẩu</div>
                <input type="password" [(ngModel)]="user.password" name="password" placeholder="Mật khẩu" required>
              </div>
            </ng-template>
          </div>
          <div class="col-md-8  text-center pt-3 mb-3">
            <button class="save-btn me-3 btn btn-primary btn-lg " type="submit"><i class="fas fa-save"></i>Lưu</button>
            <button (click)="goToBack()" class="btn btn-secondary btn-lg ">Hủy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>