.toolbar{
  height: 65px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
  border-top: 1px solid #eff2f5;
}
.header-menu{
  padding: 10px 15px 0px 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  height: 30px;
  font-size: 16px;

}
.control{
  margin-top:9px;
  color: black;
}
.control:hover{
  text-decoration: none;
}
.menu-item{
  margin-left: 20px;
  margin-top: 8px;
}


.inputt{
  margin-left: 0px;
  height: 30px;
 
}
a:hover{
  text-decoration: none;
}

/*  */


.item-image{
  height: 140px;
}

.cus-typical{
  /* background-color: rgba(220, 220, 220, 0.485); */
  padding: 120px 80px 30px 80px; 
}
.item{
  margin-bottom: 20px ;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 0.5px solid #275e1a;
}

.text {
  background-color: #2ccb379f;
  color: white;
  font-size: 16px;
  padding: 5px 8px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  
  border-radius: 0px 0px 10px 10px;

}
.item-image:hover .image {
  opacity: 0.3;
}

.item-image:hover .text {
  opacity: 1;
}

.item-image:hover .btnn {
  opacity: 1;
}
.btnn{
  color: white;
  font-size: 16px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* right: px; */
  top: 0px;
  text-align: center;
}

.button{
  border: 0px;

}
.button:hover{
  color: #000;
}
