
<div style="border-style: groove; margin-top: 20px; margin-bottom: 30px;" >
    <div class="title">
        <div class="row">
            <div class="col-md-9">
                <div class="title-more">
                   <p>Bài viết liên quan </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content" >
        <div class="row" > 
            <div class="item" *ngFor=" let recruit of recruitList ; let i = index" >
                <div *ngIf="i<4">
                    <div class="col-md-4" >
                        <div class="image">
                            <img src="{{recruit.thumb.pathUrl}}" alt="image">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="title-content">
                            <a class="aa" href="/recruit/{{recruit.url}}">
                                <p class="title-content">{{recruit.title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
