.text-title{
    color: #50b848;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .header {
    position: sticky;
    top:0;
  }
  .role-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #50b848;
  }
.btn-add-per{
  color: linear-gradient(100deg, rgba(93,135,255,1) 100%, rgba(97,215,174,1) 0%) ;
  background: linear-gradient(100deg, rgba(97,215,174,1) 0%, rgba(93,135,255,1) 100%);
}
/* .table{
  border-collapse: separate;
  box-shadow: 9px 9px gainsboro
}
table tr:nth-child(1) 
{
    background: #09f634;
    color:black;
}
table tr:nth-child(1) td 
{
    color:black;
}
table 
{
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0;
}
table td 
{
  border: 1px solid #ccc;
  text-transform: capitalize;
}

th{
  text-align: center;
  text-transform: capitalize;
  background-color: #10793194;
  border-color: #0b8a3c;
  color: white;
  border: 1px solid black;
} */
.icon{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  color: #eff2f5;
}
.icon-edit{
  background-color: #3366FF;
}
.icon-remove{
  background-color: rgb(93 95 97);
}
.icon-add{
 background-color: rgb(54, 219, 25);
 color: #eff2f5;
}
.icon-item:hover{
  color: black;
}
.btn-show{
  background-color: #5d87ff;
  color: #fff;
}
.btn{
  width: 45px;
  margin: 0 5px;
  border-color: #dee2e6;
  background-color: #ffffff;
}
.far{
  font-size: 20px;
}
@media (max-width:600px) {
  /* .role{
    margin-left: -8px;
  } */
    .btn{
      width: 47px;
      margin: 0 5px;
    }
}
@media (max-width:400px) {
  /* .role{
    margin-left: -45px;
  } */
  .btn{
    width: 39px;
  }
  .far{
    font-size: 15px;
  }
  .chucnang{
    margin-left: -30px;
  }
}
/* @media (max-width:200px) {
  .role{
    margin-left: 0px;
  }
} */
.card{
  border: 1px solid rgb(226 226 226);
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-light-primary {
  color: #009EF7;
  border-color: #F1FAFF;
  background-color: #F1FAFF;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

svg {
  height: 1.2rem;
  width: 1.2rem;
}
 .svg-icon2 [fill]{
  fill: #009EF7;
}
.svg-icon [fill]{
  fill: #181c32;
}
span {
  content: "\002B";
}
.ht-btn-custom{
  font-size: 16px;
  color: #121213;
  margin-left: 15px;
}
.border{
  background-color: #ffffff;
}