.chuyenmuc{
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}

.post-title{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #50b848;
}
a{
  color: #50b848;
}
a:hover{
  text-decoration: none;
  color: black;
}
.p-des{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-recruit{
  max-height: 230px;
}

@media only screen and (min-width: 1922px) and (max-width: 3800px) {
  .banner {
    height: 550px;
  }
}
@media only screen and (min-width: 1368px) and (max-width: 1921px) {
  .banner {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1367px) {
  .banner {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .banner {
    height: 220px;
  }
}
@media screen and (max-width: 420px) {
  .banner{
      height: 180px;
  }
}