.chuyenmuc{
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}

.post-title{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #50b848;
}
a{
  color: #50b848;
}
a:hover{
  text-decoration: none;
  color: black;
}
.p-des{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-recruit{
  max-height: 230px;
}
