
.trai_dau{
    text-align: left;
    width: 50%;
}
.phai_dau{
    width: 60%;
    text-align: right;
    position: relative;
}
.than{
    padding-bottom: 10px;
}
.text{
    text-align: left;
    color: #50b848;
}
.info{
    text-align: left;
    padding-top: 20px ;
}
.input-info{
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #50b848;
    line-height: normal;
    color: black;
}
.input-info:focus{
    border-color: #50b848;
    color: black;
}
label{
    font-weight: normal;
    color: darkgray;
    width: 50%;
}

.input-info__textarea{
    border: 1px solid;
    border-radius: 5px;
    border-color: #50b848;
    line-height: normal;
    color: black;
}
.btn{
    padding: 0px 25px;
}