.post-title{
   
    font-weight: bolder;
    font-size: 25px;
    
}
.tieude:hover{
 text-decoration: none;
}
.tieude{
    color: rgb(77, 199, 55);
}
.share .icon-share {
    font-size: 14px;
    border: 0.5px solid;
    padding: 3px;
    margin: 0px 3px;
    color: rgb(77, 199, 55);
  }
  
 a:hover{
    color: black;
  }
  svg{
    display: flex;
    width: 14px;
    height: 14px;
  }