<form action="">
  <!--====================  header area ====================-->

  <div class="header-area header-sticky header-area--absolute is-sticky ">
    <!-- container-fluid--cp-150 -->
    <div class="container header justify-content-center">
      <div class="row h-100 w-100">
        <div class="col-12 h-100">
          <div class="header-main h-100 ">
            <div class=" d-flex">
              <a class="my-auto" href="/trang-chu" title="Ecoit">
                <img class="img" src="./assets/images/logoEcoit.jpg" alt="EcoIT"
                  style=" width: 200px !important;">
              </a>
            </div>

            <div class="header-right ">
              <div class="header-right_top d-flex my-auto justify-content-end ">
                <ul class="list-inline d-flex my-auto">
                  <li class="d-flex mr-3 ">
                    <span class="header-label mr-3 d-flex">
                      <i class="fa fa-phone mt-1 " style="font-size: 24px;  "> </i>
                    </span>
                    <span class="header-phone d-flex  flex-column">
                      <span class="text-uppercase contact-title ">Hotline </span>
                        <strong>
                          <a class="info" href="tel:{{phone}}" [innerHTML]="phone"></a>
                        </strong>
                    </span>
                  </li>
                  <li class="d-flex">
                    <span class="header-label mr-3 d-flex ">
                      <i class="fa fa-envelope " style="font-size: 24px;"></i>
                    </span>
                    <span class="header-email d-flex  flex-column">
                      <span class="text-uppercase contact-title">Email
                      </span>
                      <strong>

                        <a class="info" href="mailto:{{email}}" [innerHTML]="email" ></a>

                      </strong>
                    </span>
                  </li>

                </ul>
                
                <button type="button" class=" btn btn-success h-100 ml-1 my-auto " > 
                  <a routerLink="/lien-he" class="lh advise-contact" >LIÊN HỆ TƯ VẤN</a>
                </button>
              </div>
              <div class="navigation-menu navigation-menu--onepage navigation-menu--text_white ">
                <ul class="menu-primary text-uppercase p-0 mb-1" id="navi">
                  <li *ngFor="let nav of navParent" class="has-children has-children--multilevel-submenu" id="child-li">
                    <a href="{{nav.url}}" routerLinkActive="active">{{nav.name}}</a>
                    <ul *ngIf="nav.navChild.length > 0" class="submenu" style="border-bottom: 0px solid ">
                      <li *ngFor="let nav1 of nav.navChild">
                        <a href="/{{nav.url}}/{{nav1.url}}" routerLinkActive="active" class="nav1">{{nav1.name}}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <i id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      class="fas fa-search" style="color: #ecf9eb;"></i>
                    <div class="dropdown-menu dropdown-menu-right custom-input" aria-labelledby="dropdownMenuButton">
                      <input type="text" [(ngModel)]="searchInput" name="searchInput" id="searchInput"placeholder="Tìm Kiếm...">
                      <input type="submit" (click)="goToSearch(searchInput)" id="edit-submit">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- mobile nav -->
          <div class="header-mobile h-100 ">
            <div class=" h-100 d-flex justify-content-between ">
              <div class="h-100 d-flex ">
                <a class="my-auto h-50 " href="/trang-chu" title="EcoIT">
                  <img class="img img-mobile" src="./assets/images/logoEcoit.jpg" alt="EcoIT">
                </a>
              </div>
              <div class="btn-group dropleft  my-auto d-flex">
                <button type="button" class="btn btn-secondary btn-mobile "  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" >
                  <svg  xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 448 512"><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                </button>
              </div>
            </div>
            <!--   -->
            <div class="collapse navbar-collapse nav-mobi w-75 mx-auto " id="navbarTogglerDemo03" style="background-color: rgb(255, 255, 255);" >
              <ul class="ps-0 menu-mobile text-uppercase mb-0" id="navi">
                <li *ngFor="let nav of navParent" class=" py-3 px-3 nav-mobi--hover " style="border-bottom: 0.1px solid #dbdcdb ;"  id="child-li">
                  <div  *ngIf="nav.navChild.length > 0 ;">
                    <a href="{{nav.url}}" id="dropdownMenu" class="name-nav--mobile dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{nav.name}}</a> 
                    <ul class="dropdown-menu p-0 mt-0 " style="width: 60%;"  aria-labelledby="dropdownMenu" >
                      <li style=" " *ngFor="let nav1 of nav.navChild" itemscope="itemscope" id="dropdownMenu" class=" p-3 nav-mobi--hover menu-item ">
                        <a href="/{{nav.url}}/{{nav1.url}}" style=" word-break: break-word; white-space: normal; font-size: 16px; " class=" text-dark  ">{{nav1.name}}</a>

                      </li>
                    </ul>
                  </div>
                  <div  *ngIf="nav.navChild.length == 0 ">
                    <a href="{{nav.url}}"  class="name-nav--mobile" >{{nav.name}}</a>
                  </div>
                </li>
                <li class="py-3 px-3" style="border-bottom: 0.1px solid #dbdcdb ;">
                  <div class="custom-input" >
                    <input type="text" [(ngModel)]="searchInput" name="searchInput" id="searchInput" placeholder="Tìm kiếm" class="w-100" >
                    <input type="submit" (click)="goToSearch(searchInput)" id="edit-submit">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- .collapse -->
</form>

