<!-- <div class="d-flex ">
  <div class="flex-shrink-1 ">
    <app-aside style=" height: 100%;
    display: inline-flex;"></app-aside>
  </div>

  <div class="w-100 ">
    <app-header-admin></app-header-admin>

    <router-outlet></router-outlet>
  </div>

</div> -->

<!-- <div class="d-flex flex-column flex-root  "  >
  <div class="d-flex flex-row flex-column-fluid  ">
    <app-aside></app-aside>
    <app-header-admin></app-header-admin>
    <div class="wrapper d-flex flex-column "  >
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <app-aside></app-aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <app-header-admin></app-header-admin>

    <!--  Header End -->
    <div class="wrapper d-flex flex-column ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>