
<div class="toolbar">
  <div class="container">
    <div class="d-flex justify-content-between ">
        <div class="d-flex justify-content-start  head">
            <div class="item-select" >
                <select class="custom-select" [(ngModel)]="searchField.method"  (change)="changeMethod($event)" style="width: 120px" >
                  <option value="" [selected]="true" >Phương thức</option>
                  <option>POST</option>
                  <option>GET</option>
                </select>
              </div>
              <div class=" item-select">
                <select class="custom-select"  [(ngModel)]="searchField.type" (change)="changeType($event)"  style="width: 120px" >
                  <option value="" [selected]="true">Hoạt động</option>
                  <option>CREATE</option>
                  <option>UPDATE</option>
                  <option>DELETE</option>
                </select>
              </div>
              <div class=" item-select">
                <!-- <select class="custom-select" [(ngModel)]="searchField.executor" (change)="changExecutor($event)" style="width: 120px" >
                  <option value="" [selected]="true" >Người thực hiện</option>
                  <option >người 1</option>
                </select> -->
                <input [(ngModel)]="searchField.executor" (change)="changExecutor($event)" placeholder="Tìm theo tên người dùng">
              </div>
              <div class=" item-select">
                <select class="custom-select" style="width: 120px" >
                  <option value=""  [selected]="true">Trang</option>
                </select>
              </div>
             
              <div  class=" item-select " >
                <select class="custom-select " style="width: 120px">
                  <option value="" [selected]="true">Sắp xếp theo</option>
                  <option value="date">Thời gian</option>
                  <option value="method">Phương thức</option>
                  <option value="page">Trang</option>
                  <option value="user">Người thực hiện</option>
                  <option value="type">Hoạt động</option>
                </select>
              </div>
              <div class=" item-select " >
                <a class="ht-btn-custom">
                  <i class="far fa-sort-alpha-down fa-lg"></i>
                </a>
              </div>
              <div class=" item-select " >
                <a class="ht-btn-custom">
                  <i class="far fa-sort-alpha-up fa-lg"></i>
                </a>
              </div>
        </div>
        <div class="d-flex  flex-wrap head">
            <div class="menu-item ">
              <div class="d-flex">
                <div class="d-flex">
                  <span class="mr-1">Số mục mỗi trang:</span>
                  <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="searchField.totalElements"
                    [(pageSize)]="searchField.pageSize">
                  </app-page-size>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="card mb-5 mb-xl-8 section-space--mt_30 mx-4">
  <div class="card-header border-0 pt-3">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-6 mb-1">NHẬT KÝ</span>
    </h3>
  </div>
  <div class="card-body py-3">
  <table class="table align-middle gs-0 gy-4">
    <thead>
      <tr style="font-weight: bold;" class="text-center">
        <th>Thời gian</th>
          <th>Phương thức</th>
          <th>Trang</th>
          <th>Người thực hiện</th>
          <th>Hoạt động</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of historyList">
        <td scope="row">{{item.date}}</td>
        <td>{{item.method}}</td>
        <td>{{item.page}}</td>
        <td>{{item.executor}}</td>
        <td>{{item.type}}</td>
    </tbody>
  </table>
  </div>
  </div>