.about-page{
    padding: 30px 10px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.about-page::-webkit-scrollbar{
    display: none;
}
.btn{
    width: max-content;
}

.cancel{
    background-color: #cccccc;
  
  }


