<div class="toolbar">
  <div class="container">
    <div class="d-xl-block d-none">
      <div class="d-flex justify-content-between header-menu ">
        <div class="">
          <div class="d-flex">

            <form (change)="searchTitleAndDescription()" class="d-flex">

              <input type="text" [(ngModel)]="search.searchInput" name="searchInput" placeholder="Tìm kiếm "
                class="searchinput">
              <select [(ngModel)]="search.cate" name="cate" class=" searchinput px-2 ">
                <option value="" [selected]="true">Chuyên mục</option>
                <option *ngFor="let ct of catelist" value="{{ct.typeName}}">{{ct.typeName}}</option>
              </select>
              <div style="display: contents;">
                <input type="date" class="searchinput w-25" [(ngModel)]="search.startTime" name="startTime">
                <input class=" searchinput w-25 " type="date" [(ngModel)]="search.endTime" name="endTime">
              </div>
              <div class="input-group-append ">
                <button type="submit" class="input-group-text  "><i class="fa fa-search"></i></button>
              </div>
            </form>

          </div>
        </div>
        <div class="right-d-flex">
          <div class="d-flex  flex-wrap">
            <div class="menu-item ">
              <div class="d-flex">
                <span class=" mr-1">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size"></app-page-size>
              </div>
            </div>
            <div class="menu-item">
              <a class="ht-btn-custom" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class=" d-flex justify-content-end ">
      <div class="d-xl-none d-block">
        <div class="btn-group dropstart">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </div>
          <ul class="dropdown-menu p-0">
            <li class="p-2">Lọc:</li>
            <form (change)="searchTitleAndDescription()" class="d-flex flex-column">
              <li class="border p-2">
                <div class="d-flex">
                  <input type="text" [(ngModel)]="search.searchInput" name="searchInput" placeholder="Tìm kiếm "
                    class="searchinput w-100">
                  <button type="submit" class="input-group-text  "><i class="fa fa-search"></i></button>
                </div>
              </li>
              <li class="border p-2">
                <select [(ngModel)]="search.cate" name="cate" class=" searchinput w-100 px-2 ">
                  <option value="" [selected]="true">Tất cả</option>
                  <option *ngFor="let ct of catelist" value="{{ct.typeName}}">{{ct.typeName}}</option>
                </select>
              </li>
              <li class="border p-2">
                <input class=" searchinput w-100" type="date" [(ngModel)]="search.startTime" name="startTime">
              </li>
              <li class="border p-2">
                <input class=" searchinput w-100" type="date" [(ngModel)]="search.endTime" name="endTime">
              </li>
            </form>
            <li class="border p-2">
              <span class=" mr-1">Số mục mỗi trang:</span>
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size"></app-page-size>
            </li>
            <li class="border p-2">
              <div class="d-flex" routerLink="add">
                <span class="mx-auto">Thêm mới </span>
                <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container  ">
  <div class="section-space--mt_100 list-table ">
    <p class="text-title">Bài viết</p>
    <table class="table section-space--mt_30 ">
      <thead style="position: sticky;top: 0 ; z-index: 1;" class="thead-dark">
        <tr>
          <th scope="col" style="width: 15%;">Ảnh</th>
          <th class="w-25" scope="col">Tiêu đề</th>
          <th class="w-25" scope="col">Mô tả</th>
          <th class="" scope="col">Chuyên mục </th>
          <th class="" scope="col">Thời gian</th>
          <th class="" scope="col">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postList |  paginate: {
          id: 'post',
          itemsPerPage: paging.size,
          currentPage: paging.page,
          totalItems: paging.totalRecord  } ;  ">
          <td style="width:15% ">
            <div class="product-thumb-image">
              <img src="{{baseURL}}/{{postURL}}/image/{{post.id}}" alt="Post Image">
            </div>
          </td>
          <td class="w-25">
            <p class=" mt-3 des-post font-weight-bold ">
              {{post.title}}
            </p>
          </td>
          <td class="w-25">
            <p class="des-post mt-3 ">
              {{post.description}}
            </p>
          </td>
          <td class="text-center">
            <p class="mt-3">{{post.category.typeName}}</p>
          </td>
          <td class="text-center">
            <p class="mt-3"> {{post.date}}</p>
          </td>
          <td class="text-center">
            <div class="btn-group dropright ">
              <i title="Chức năng" class='icon-more fa fa-ellipsis-h mt-3 ' data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style='font-size:24px'></i>
              <div class="dropdown-menu text-center p-0">
                <p class="edit icon-more mb-1 drop " (click)="updatePost(post.id)">Chỉnh sửa</p>
                <p class="dele icon-more drop " (click)="deletePost(post.id)">Xóa</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row mt-3">
      <div *ngIf="paging.totalRecord>0" class="col-sm-12" style="margin-bottom: 10px;">
        <div class="row">
          <div class="col-md-12 col-12">
            <pagination-controls previousLabel="<" nextLabel=">" [id]="'post'" (pageChange)="handlePageChange($event)"
              [maxSize]="paging.totalRecord"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>