
.scroll-sidebar{
  /* overflow: hidden; */
}
.scroll-sidebar:hover {
  overflow:auto;
}

.scroll-sidebar::-webkit-scrollbar {
  width: 6px;
}
.name-accout{
  font-size: 14px;
}
.avt-accout{
  width: 18%;
}

.scroll-sidebar::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.scroll-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8d8d8d5c;
}
.brand-logo{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #b4b4b4;
  display: flex;
  justify-content: center;
}
.sidebar-link:hover{
 text-decoration: none;
}
a{
  text-decoration: none;
}
.left-sidebar{

  width: 228px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}
.logo-sidebar{
  width: 228px;
}

/* mobile */
.brand-logo-mobile{
margin: 5%;
}
.sidebar-mobile{
  margin-top: 34px;
}
.img-mobile{
  width: 50%;
}
.nav-mobile{
  padding: 0 5%;
}
.icon-menu{
  cursor: pointer;
  z-index: 6;
  position: fixed;
  background: #ffffff;
}
.icon-menu:hover{
  background-color: #a2a2a2;
}
.icon-menu:focus{
  background-color: #a2a2a2;
}
