<div class="toolbar">
    <div class="container">
        <div class="d-lg-block d-none ">
            <div class="d-flex  justify-content-between header-menu ">
                <div class="right-d-flex my-auto">
                    <div class="d-flex  flex-wrap">
                        <div class=" mr-2">
                            <div class="d-flex">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="category-add contact-inner ">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate class="form-cate-add">
        <label for="name">
            <p class="cate-name">CHUYÊN MỤC</p>
            <input type="text" name="typeName"id="typeName" [formControl]="catogaryControl" placeholder="Nhập tên chuyên mục "
            [class.borderError]="!catogaryControl.valid&&!catogaryControl.untouched"
            [class.text-input]="catogaryControl.valid||catogaryControl.untouched"
                required>
                <p *ngIf="!catogaryControl.valid&&!catogaryControl.untouched" class="validateText">Tên chuyên mục không thể bỏ trống</p>

        </label>
        <!-- <label for="name" > <p class="cate-name">Đường dẫn</p>
        <input class="mt-3" type="text" name="cateUrl" id="cateUrl" [(ngModel)]="category.cateUrl" placeholder="Nhập tên đường dẫn " required>
    </label> -->

        <div class="submit-button" class="section-space--mt_15">
            <button type="submit" class="btn btn-primary btn-lg btnn" [disabled]="!catogaryControl.valid">Lưu</button>
            <button type="button" class="btn btn-secondary btn-lg btnn cancel" (click)="cancel()">Hủy</button>
        </div>
    </form>
</div>