<app-header></app-header>

<div class="info">

       <img width="100%" height="100%" src="./assets/images/ecoit2.png" class="fuild-img wp-post-image" alt="" loading="lazy" >
</div>


<div class="container" style=" margin-top: 20px; " >
  <div class="col-md-9">
    <div class="my-4">
        <div class="color-gree" >
            <span style=" font-size: 45px; " class="title" >Không tìm thấy trang: </span>
            <span style="font-size: 26px; color: rgb(137, 134, 134);"> Error 404</span>
            <hr>
        </div>
        <p>Xin lỗi vì sự cố này! trang bạn đang tìm kiếm không tồn tại. </p>
        <p (click)="goback()" class="back" >Quay lại </p>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!--  <div class="modal-custom">
  <div class="error404">
    <div class="page-404-content section-space--ptb_100">
      <div class="container">
        <div class="row full-height">
          <div class="col-md-12 text-center">

            <div class="error-image">
              <img class="img-fluid" src="../../../assets/images/other/page-404-image.png" alt="Not Found Image">
            </div>

            <div class="error-buttons section-space--mt_50">
              <a href="/" class="ht-btn ht-btn-md">
                <span class="button-icon mr-2"><i class="fa fa-home"></i></span>
                <span class="button-text">Go back to homepage</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->