<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <a style="width: 90px " routerLink="../news"  routerLinkActive="active"><span  class="spann " >Tin tức</span></a>
        <a style="width: 190px" routerLink="../recruit" routerLinkActive="active"  ><span style="font-weight: bold"  class="spann ">/ Tuyển dụng</span></a>
        <form (ngSubmit)="searchTitleAndDescription()" class="d-flex">
          <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Viết gì đó ...">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <!--            <select (change)="handlePageSizeChange($event)" class="custom-select">-->
            <!--              <option *ngFor="let size of pageSizes" [ngValue]="size">-->
            <!--                {{ size }}-->
            <!--              </option>-->
            <!--            </select>-->
            <app-page-size
              (pageSizeChange)="handlePageSizeChange($event)"
              [totalRecords]="paging.totalRecord"
              [(pageSize)]="paging.size"></app-page-size>

          </div>
        </div>
        <div class="menu-item">
          <a class="ht-btn-custom" routerLink="add"  title="Thêm tin mới"><i style="font-size: 26px;" class="fas fa-file-plus fa-lg"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="d-flex flex-column ">
  <div class="container">
    <div class="item-blog">
      <div class="row">

        <div class="col-lg-12" *ngFor="let recruit of recruitNewsList|  paginate: { id: 'recruit',
                                                      itemsPerPage: paging.size,
                                                      currentPage: paging.page,
                                                      totalItems: paging.totalRecord } ;let i = index">

          <div class="card">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-2">
                  <img style="width: 100%; height: 90px" src="{{recruit.thumb.pathUrl}}" alt="">
                </div>
                <div class="col-md-7">
                  <p>
                    {{recruit.description}}
                  </p>
                </div>
                <div class="col-md-2">
                  {{recruit.createDate}}
                </div>
                <div class="action-box ">
                  <!--                 ví dụ về button sửa-->
                  <button (click)="updateRecruitNews(recruit.id)"  style="background-color: #50b848" class="btnn"  ><i class="far fa-pen"></i> </button>

                  <button *ngIf="role.includes('ROLE_ADMIN')" (click)="deleteRecruitNews(recruit.id)" style="background-color: red" class="btnn" ><i class="far fa-times"></i> </button>
                </div>
              </div>
              <h5 class="tittle-blog">
                <a class="btn-link" data-toggle="collapse"  href="#demo{{recruit.id}}" >  {{recruit.title}} 
                  <span>
                    <i class="fas fa-plus-circle" ></i>
                  </span>
                </a>
              </h5>
              <div id="demo{{recruit.id}}" class="collapse" data-parent="#accordion" style="">
                <div class="card-body" [innerHTML]="recruit.content">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <pagination-controls

                [id]="'recruit'" (pageChange)="handlePageChange($event)" [maxSize]="paging.totalRecord"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

