<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <a style="width: 60px " routerLink="../news"  routerLinkActive="active"><span  class="spann " >Tin tức</span></a>
        <a style="width: 115px" routerLink="../recruit" routerLinkActive="active"  ><span style="font-weight: bold"  class="spann ">/ Tuyển dụng</span></a>
        <form (ngSubmit)="searchTitleAndDescription()" class="d-flex">
          <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <app-page-size
              (pageSizeChange)="handlePageSizeChange($event)"
              [totalRecords]="paging.totalRecord"
              [(pageSize)]="paging.size"></app-page-size>

          </div>
        </div>
        <div class="menu-item">
          <a class="ht-btn-custom" routerLink="add"  title="Thêm tin mới"><i style="font-size: 18px; " class="fas fa-file-plus fa-lg"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="d-flex flex-column ">
  <div class="container">
    <div class="item-blog">
      <div class="row">

        <div class="col-lg-12" *ngFor="let recruit of recruitNewsList|  paginate: { id: 'recruit',
                                                      itemsPerPage: paging.size,
                                                      currentPage: paging.page,
                                                      totalItems: paging.totalRecord } ;let i = index" style="margin-bottom: 20px;">

          <div class="card">

              <div class="row ">
                <div class="col-md-2">
                  <img style="width: 100%; height: 100%" src="{{recruit.image.pathUrl}}" alt="">
                </div>
                <div class="col-md-7">
                  <h5 class="tittle-blog">
                    <a class="btn-link" data-toggle="collapse"  href="#demo{{recruit.id}}" > {{recruit.title}}

                    </a>
                  </h5>
                  <p>
                    {{recruit.description}}
                  </p>
                </div>
                <div class="col-md-2" style="padding-top:10px; text-align: center;">

                  {{recruit.date}}
                </div>
                <div class="action-box  col-md-1">
                  <!--                 ví dụ về button sửa-->
                  <button (click)="updateRecruitNews(recruit.id)"   class="btnn edit"  ><i class="far fa-pen"></i> </button>

                  <button *ngIf="role.includes('ROLE_ADMIN')" (click)="deleteRecruitNews(recruit.id)"  class="btnn dele" ><i class="far fa-times"></i> </button>
                </div>
              </div>
              <div class="col-md-9">
                <div id="demo{{recruit.id}}" class="collapse" data-parent="#accordion" style="">
                  <div class="card-body" [innerHTML]="recruit.content">
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div  class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <pagination-controls

                previousLabel="<"
                nextLabel=">"
                [id]="'recruit'" (pageChange)="handlePageChange($event)" [maxSize]="paging.totalRecord"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>