.update_box{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.update_box .image{
  position: relative;
  height: 210px;
  width: 100%;
}
.update_box .image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.update_box img{
  width: 100%;
  object-fit: fill;
}
.update_box span{
  color: #212529;
}

.cancel{
  background-color: #cccccc;

}
.cancel:hover{
  background-color: rgba(43, 43, 63, 0.85);
}
.btnn {
  margin-right: 15px;
}

.example-chip-list {
  width: 100%;
}

.changeBGC{
  background-color: #0d8abc;
}
.custom-chip{
  background-color: deepskyblue;
}

.text-input{
  padding: 10px;
  width: 100%;
  border: 1pt solid #50B848;
  margin-top: 10px;
}   
.text-title{
  color: #212529;
  font-weight: bold;
  text-align: center;
}
select:focus{
  border: 1px solid #50B848;
 color: black;
}
option{
  color: black;
}
.borderError{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid red;
}
.borderError:focus{
  padding: 10px;
  width: 100%;
  border: 1px solid red;
}
.validateText{
  margin-top: 15px;
  color:red;
}
.boder{
  margin: auto;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(226 226 226);
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
}
.title{
  padding: 20px 0;
  background-color: rgb(33,37,41,0.03);
}