<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex"><h5 class="title-cate">Chuyên Mục</h5></div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="mr-1">Số mục mỗi trang:</span>
                  <!-- <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord" [(pageSize)]="paging.size">
                    
                  </app-page-size> -->
                  
            </div>
          </div>
          <div class="menu-item">
            <a class="ht-btn-custom" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="category section-space--mt_120">
    <div class="container">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <td style="width: 40%;">Tên Chuyên Mục</td>
            <td style="width: 30%;">Số bài viết</td>
            <td>
              
            </td>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor="let ct of category ; let t = count">
              <th scope="row">{{ct.typeName}}</th>
              <td>
                {{t}}
              </td>
              <td>
                <i class="	fas fa-edit icon-navi" (click)="Update(ct.id)" ></i>
                <i class="fas fa-trash-alt icon-navi " (click)="Delete(ct.id)" ></i>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

