/* .item{
    height: 550px;
} */

.fuild-img{
    height: 100%;
    width: 100%;
    
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .item {
      height: 550px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .item {
      height: 500px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
    .item {
      height: 400px;
    }
 @media screen and (max-width: 420px) {
    .item{
        height: 300px;
    }
}
  }