
<div class="container" style="padding-bottom: 20px;">
  <div class=" text-center " style="margin-bottom: 30px;">
    <h2 style="margin-top: 30px; font-size: 30px;" class="chuyenmuc mb-5" >HÌNH ẢNH HOẠT ĐỘNG</h2>
  </div>
  <div id="carouselExampleInterval1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item " [class]=" i==0 ? 'active ' : '' "  *ngFor="let img of gallery ; let i = index" data-bs-interval="3000">
        <img  src="{{baseURL}}/{{galleryURL}}/image/{{img.image.name}}" class=" w-100" alt="ecoit_image">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>


