
.containerr{
    color: #bababa;
    padding: 0px 15px 0px 15px;
    margin-left: 80px;
     margin-right: 80px;
}
.footer-wrapper{
    padding: 30px 0px 40px 0px;
}
.footer-area-wrapper{
    color: #bababa;
    padding: 80px 0px 40px 0px;
}
.titlefooter{
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    font-family: Verdana;
    font-weight: bold;
}
.icon-intro{
    font-size: 18px;
    color: #ababaa;
    margin-right: 5px;
}
.icon-intro:hover{
    color: rgb(67, 192, 74);
    text-decoration: none;
}
.list{
    padding-bottom: 1px;
    text-align: justify;
    position: relative;
    color: #d5cccc;
}
.list:hover{
    margin-left: 5px;
    color: rgb(67, 192, 74);
}
.text-title-news{
    color: #bababa;
    font-size: 14px;
    padding-left: 10px;
    margin-top: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 992px){
.col-md-3 {
    width: 25%;
}}


.hover_style_link{
    color: #d5cccc;
}

.footer-preview{
    background-color: #303030;
    padding-top: 50px;

}
.info-contact{
    color: #bababa;
}

.address{
  vertical-align: inherit;
  position: relative;
  padding-left: 15px;
}
.title-contact{
  vertical-align: inherit;
  position: relative;
  padding-left: 15px;
  color: #bababa;
}
.title-contact:hover{
  color: #50B848;
  text-decoration: none;
}
.text-up{
    text-transform: uppercase;
}
.anhtintuc{
    float: left;
    width: 30%;
    height: 100%;
    margin: auto;
}
.image{
    min-height: 50px;
    max-height: 60px;
}
.headquarters{
    color: #ababaa;
    text-decoration: none;
}
.headquarters:hover{
    text-decoration: underline;
}
.footer{
    max-width: 1200px;
    margin: auto;
}
.footer-intro{
    text-align: justify;
    line-height: 25px;
}
