.update_box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .update_box .image{
    position: relative;
    height: 210px;
    width: 100%;
  }
  .update_box .image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .update_box img{
    width: 100%;
    object-fit: fill;
  }
  .update_box strong{
    color: #50B848;
  }
  .update_box input{
    padding: 10px;
    width: 100%;
    border: 1px solid #50B848;
  }
  .update_box2 strong{
    color: #50B848;
  }
  .update_box2 input{
    padding: 10px;
    width: 100%;
  }
  .cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
  }

  textarea:focus{
    border: 1px solid #50B848;
    color: #000000;
  }
  input:focus{
    color: #000000;
  }
  .borderError {
    border: 1px solid red;
    color: black;
  }
  
  .borderError:focus {
    border: 1px solid red;
    color: black;
  }
  
  .text-input {
    border: 1px solid #50b848;
    color: black;
  }
  .validateText{
    margin-top: 15px;
    color:red;
  }
  .text-title{
    color: #50b848;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
/* .banner{
  height: 200px;
} */

