<div class="page-size-box">
<!--  <div class="box-left">-->
<!--    <span>Hiển thị</span>-->
<!--  </div>-->
  <div class="box-middle">
    <select class="form-control" name="pageSize" (change)="changePageSize()"
            #pageSizeModel="ngModel" [(ngModel)]="pageSize">
      <option *ngFor="let item of pageSizeOptions" [value]="item">{{item}}</option>
      <option *ngIf="totalRecords" [value]="totalRecords">Tất cả</option>
    </select>
  </div>
<!--  <div class="row-md-3" style="margin: auto; text-align: left; padding: 0;">-->
<!--    <span class="right">{{name}}</span>-->
<!--  </div>-->
</div>
