
<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
            <a class="control" routerLink="../list"  routerLinkActive="active"><span style="font-weight: bold; font-size: 20px;" class="spann">Danh Sách</span></a>
       
        </div>
      </div>
    </div>
  </div>

  <div class="album container ">
      <div class="d-flex flex-row ">
        <div class="item">
          <button routerLink="./contact" class="btn">
            <a style="color: black;">
                 <img  src="./assets/images/list_user.png" alt=""> Danh Sách Liên Hệ</a>
             
        
          </button>
        </div>
        <div class="item">
          <button routerLink="./comment" class="btn" >
            <a  style="color: black;"> <img src="./assets/images/list_user.png" alt=""> Danh Sách Bình Luận</a>
          </button>
        </div>
      </div>
    
  </div>
