<!-- <div class="customer-list">
  <div class=" position-relative " style="padding: 50px 0px 70px 0px;">
    <div class="container">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center " style="text-align: center;">
              <h2 class="chuyenmuc">KHÁCH HÀNG MỤC TIÊU</h2>
              <hr class="gachchan">
            </div>
          </div>
        </div>
        <div class="table-content">
          <div class="row pricing-table-one">
            
            <div *ngFor="let cus of customer ; let i = index" class="col-md-3">
              <div class="box" *ngIf="i<4">
                <div class="box-icon" [ngStyle]="{'background': cus.bgIColor}">
                  <span><i class="{{cus.icon}}"></i></span>
                </div>
                <div class="box-content section-space--pb_120 section-space--mt_80">
                  <h5 class="__title">{{cus.name}}</h5>
                  <div class="des-cus"><span>{{cus.description}}</span>
                  </div>
                  <div class="box-footer">
                    <a href="/khach-hang/{{cus.url}}" class="quantam" style="font-size: larger;">QUAN TÂM　⇨</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="customer-list">
  <div class="container">
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2 class="chuyenmuc">KHÁCH HÀNG MỤC TIÊU</h2>
            <hr class="gachchan">
          </div>
        </div>
      </div>
      <div class="table-content">
        <div class="row">
          <div class="col-md-3" *ngFor="let cus of customer ; let i=index ">
            <div class="box d-flex flex-column " *ngIf="i<4">
              <div class="box-icon h-25 ">
                <div class="box-icon_bg text-white " [ngStyle]="{'background': cus.bgIColor} ">
                  <span><i class="{{cus.icon}}"></i></span>
                </div>
              </div>
              <div class="box-content d-flex flex-column ">
                <h5 class="__title">{{cus.name}}</h5>
                <div class="des-cus"><span>{{cus.description}}</span>
                </div>
                <div class="box-footer">
                  <a href="/khach-hang/{{cus.url}}" class="quantam" style="font-size: larger;">QUAN TÂM ⇨</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>