<div class="toolbar">
  <div class="container">
    <div class="d-lg-block d-none">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex">
          <div class="d-flex">
            <a class="control my-auto " style="width: 85px" routerLink="../customer" routerLinkActive="active"><span
                style="font-weight: bold;" class="spann">Mục tiêu /</span></a>
            <a class="control my-auto " style="width: 80px" routerLink="../customer/cus-typical"
              routerLinkActive="active"><span class="spann">Tiêu biểu</span></a>
            <form (ngSubmit)="search()" class="d-flex">
              <input class="searchinput mr-1 " type="text" [(ngModel)]="searchInput" name="searchInput"
                placeholder="Tìm kiếm ">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="right-d-flex my-auto">
          <div class="d-flex  flex-wrap">
            <div class=" mr-2">
              <div class="d-flex">
                <span class=" mr-1 my-auto ">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size">
                </app-page-size>
              </div>
            </div>
            <div class="my-auto">
              <a class="ht-btn-custom my-auto " routerLink="add" title="Thêm tin mới"><i
                  class="fas fa-file-plus fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-lg-none d-block text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="p-2 border">
            <a class="control my-auto w-50 " routerLink="../customer" routerLinkActive="active"><span
                style="font-weight: bold; font-size: 14px; ">Mục tiêu/</span></a>
            <a class="control my-auto w-50 " style="font-size: 14px; " routerLink="../customer/cus-typical"
              routerLinkActive="active"><span>Tiêu biểu</span></a>
          </li>
          <li class="p-2 border">
            <form (ngSubmit)="search()" class="d-flex">
              <input class="searchinput mr-1 w-75 " type="text" [(ngModel)]="searchInput" name="searchInput"
                placeholder="Tìm kiếm ">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </li>
          <li class="p-2 border">
            <span class=" my-auto ">Số mục mỗi trang:</span>
            <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
              [(pageSize)]="paging.size">
            </app-page-size>
          </li>
          <li class="p-2 border">
            <div class="d-flex" (click)="addCustomer()">
              <span class="mx-auto">Thêm mới </span>
              <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="section-space--mt_100">
    <p class="text-title">KHÁCH HÀNG MỤC TIÊU</p>
    <table class="table section-space--mt_30 ">
      <thead style="position: sticky;top: 0 ; z-index: 1;">
        <tr class="text-center ">
          <th scope="col" class="w-20">Ảnh</th>
          <th class="w-15" scope="col">Icon</th>
          <th class="w-30" scope="col">Tiêu đề</th>
          <th class="w-25" scope="col">Mô tả</th>
          <th class="w-10" scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cus of customer |  paginate: {
            id: 'post',
            itemsPerPage: paging.size,
            currentPage: paging.page,
            totalItems: paging.totalRecord  } ;  ">
          <td style="width:15% ">
            <div class="customer-thumb-image">
              <img src="{{baseURL}}/{{CusURL}}/image/{{cus.id}}" alt="Post Image">
            </div>
          </td>
          <td class="text-center">
          <div class="box-icon" [ngStyle]="{'background': cus.bgIColor}">
            <span><i class="{{cus.icon}}"></i></span>
          </div>
          </td>
          <td class="w-25">
            <p class=" mt-3 des-post font-weight-bold ">
              {{cus.name}}
            </p>
          </td>
          <td class="w-25 ">
            <p class="des-post mt-3 ">
              {{cus.description}}
            </p>
          </td>
          <td style="text-align: center;">
            <button class="icon status_admin icon-edit me-0 me-xl-2 mt-2 mt-md-2"><a class="icon-item"
                (click)="updateCustomer(cus.id)"><i class="fas fa-pen i"></i></a></button>
            <button class="icon icon-remove  mt-2 mt-lg-2 ">
              <a class="icon-item" (click)="deleteCustomer(cus.id)"><i class="fas fa-trash-alt remove i"></i></a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="row">
        <div *ngFor="let cus of customer | paginate:{
                                          id: 'customer',
                                          itemsPerPage: paging.size,
                                          currentPage: paging.page,
                                          totalItems: paging.totalRecord
                                       }" class="col-md-3 col-12 " style=" margin: 0px 0px  80px 0px; ">
          <div class="box">
            <div class="close">
              <button type="button" (click)="deleteCustomer(cus.id)" class="x">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="box-icon" [ngStyle]="{'background': cus.bgIColor}">
              <span><i class="{{cus.icon}}"></i></span>
            </div>
            <div class="box-content">
              <h5 class="__title">{{cus.name}}</h5>
              <div class="description"><span class="ND">{{cus.description}}</span>
              </div>
              <div class="pricing-table__footer">
                <a (click)="updateCustomer(cus.id)" class="edit" style="font-size: larger;">Chỉnh Sửa　⇨</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="paging.totalRecord>0">
          <pagination-controls previousLabel="<" nextLabel=">" [id]="'customer'" (pageChange)="handlePageChange($event)"
            [maxSize]="paging.totalRecord"></pagination-controls>
        </div>
      </div>-->
  </div>
</div>