
.header-menu{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  height: 30px;
  font-size: 16px;

}
.control{
  color: black;
}
.control:hover{
  text-decoration: none;
}
.ht-btn-custom{
 
  color: #121213;
  font-size: 16px;
}

.menu-item{
  margin-left: 15px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-control{
  padding-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top:7px;
}

.searchinput{
  border-radius: 5px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
  height: 30px;
  width: 50%;
 } 
 .searchinput:focus{
  border-radius: 5px;
  border: 1px solid #202020;
 }

/* ==  tiêu đề*/
.text-title{
  color: #50b848;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

/*-------------------------------------------------------------*/
.box-icon{
  background-color: #009dff;
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 48px;
  line-height: 95px;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.box{
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #eee;
  height: 280px;
}
.close{
  position: absolute;
  top: -10px;
  right: 0;
  color: #fff;
  z-index: 3;
}
.close .x{
  border: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  background: #f00;
  border-radius: 50%;
}


.input:focus{
  border: 1px solid rgb(108, 108, 108);
  color: black;
}

.iconn{
  font-size: 25px;
  color: aliceblue;
}
.box-content{
  margin-bottom: 10px;
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.__title{
  letter-spacing: -.4px;
  align-content: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}
.pricing-table__footer{
  padding-top: 50px;
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.edit{
  justify-items: center;
  text-align: center;
  font-weight: bolder;
  color: #50b848;
}
.edit:hover{
  color: #212c32;
}

a:hover{
  text-decoration: none;
}

.news-thumb-image{
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

.news-thumb-image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.description{
  vertical-align: inherit;
 padding-top: 10px;
  text-align: center;
}
.ND{
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customer-thumb-image img{
  width: 100%;
  max-height: 150px;
  min-height: 100px;
  object-fit: fill;
}
.table{
  border-collapse: separate;
}
.icon{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  color: #eff2f5;
}
.icon-edit{
  background-color: #3366FF;
}
.icon-remove{
  background-color: rgb(93 95 97);
}
.icon-add{
 background-color: rgb(54, 219, 25);
 color: #eff2f5;
}
.icon-item:hover{
  color: black;
}
th{
  text-align: center;
  text-transform: capitalize;
  background-color: #5D87FF;
  border-color: #5D87FF;
  color: white;
}
.des-post{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width:992px) {
  .box-icon{
    background-color: #009dff;
    color: whitesmoke;
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
  }
}
  
    @media screen and (max-width:768px) {
      .box-icon{
        background-color: #009dff;
        color: whitesmoke;
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
        margin-top: 30px;
      }
    }
    @media screen and (max-width:576px) {
      .box-icon{
        background-color: #009dff;
        color: whitesmoke;
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
        margin-top: 30px;
      }
}