<form class="formcustomeradd" (ngSubmit)="onSubmit()" [formGroup]="formCus">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-inner">
                    <span class="title-span"><strong>Khách Hàng</strong></span>
                    <input type="text" formControlName="name" name="name" id="name" (change)="changeName()"
                        [ngClass]="{'text-input': isborderErrorName,'borderError': !isborderErrorName}">
                </div>
                <div class="contact-inner ">
                    <span class="title-span"><strong>Mô Tả</strong></span>
                    <textarea id="description" cols="30" rows="10" formControlName="description" (change)="changeDes()"
                        [ngClass]="{'text-input': isborderErrorDes,'borderError': !isborderErrorDes}"
                        name="description"></textarea>
                </div>
                <div class="contact-inner">
                    <span class="title-span"><strong>Sản Phẩm</strong></span>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let pro of products">
                            <div class="form-check">
                                <input type="checkbox" [value]="pro.selected" [checked]="pro.selected"
                                    (change)="onCheckChangeProduct($event, pro)" class="custom-control-input"
                                    id="customCheck{{pro.id}}">
                                <label class="cursor-pointer font-italic d-block custom-control-label"
                                    for="customCheck{{pro.id}}">{{pro.title}}</label>
                            </div>
                        </li>
                    </ul>
                    <span>Không tìm thấy sản phẩm mong muốn ?</span><a target="_blank" href="admin/product/add"><span
                            style="color: #3cb638;">Thêm mới</span></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-inner ">
                    <span class="title-span"><strong>Ảnh bìa</strong></span>
                    <div class="text-input">
                        <div class="image">
                            <img src="{{bannerURL}}" alt="" appHideMissing>
                        </div>
                        <input type="file" value="select" (change)="onChange($event)">
                    </div>
                </div>
                <div class="contact-inner">
                    <span class="title-span"><strong>Biểu tượng</strong></span>
                    <div class="container-fluid">
                        <div class="row icon">
                            <div class="col-md-4">
                                <div class="box-icon" [ngStyle]="{'background': customer.bgIColor}">
                                    <span>
                                        <i class="{{formCus.controls['icons'].value}}"></i></span>
                                    <input type="color" formControlName="bgIColor" name="bgIColor" class="change-color"
                                        value="#009cff" (change)="changeColor()">
                                </div>
                            </div>
                            <div class="col-lg-8 my-auto">
                                <div class="input">
                                    <select
                                        [ngClass]="{'text-input': isborderErrorIcon,'borderError': !isborderErrorIcon,'boderIcon':true}"
                                        name="icon" id="icon" (change)="changeIcon()" formControlName="icons">
                                        <option *ngFor="let icon of allIcon" [value]="icon.class"
                                            [innerHTML]="icon.name + ' ' + icon.code"></option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" class="btn btn-primary btn-lg btnn">Lưu</button>
                    <button type="button" class="btn btn-secondary btn-lg btnn cancel"
                        (click)="goToCustomerList()">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</form>