<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <span  class="spann tt">Sản phẩm</span>
          <form (ngSubmit)="search()" class="d-flex">
            <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm ">
            <div class="input-group-append inputt" >
              <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
               <app-page-size (pageSizeChange)="handlePageSizeChange($event)"
                            [totalRecords]="paging.totalRecord"
                            [(pageSize)]="paging.size"
                              ></app-page-size>
            </div>
          </div>
          <div class="menu-item">
            <!--          (click)="addTypicalNum()"-->
            <a class="ht-btn-custom" routerLink="add" (click)="addProduct()" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>

        </div>
      </div>

    </div>
  </div>

<div *ngFor="let pro of products | paginate:{
                                  id: 'product',
                                  itemsPerPage:paging.size,
                                  currentPage:paging.page,
                                  totalItems: paging.totalRecord
                                    }" class="d-flex flex-column">
  <div class="container">
    <div class="item-blog">
      <div class="row">
        <div class="col-lg-12" >
          <div class="card">
              <div class="row ">
                <div class="col-md-2">
                  <img style="width: 100%; height: 100px" src="{{pro.thumb.pathUrl}}" alt="">
                </div>
                <div class="col-md-3">
                  <div class="title-product">
                    <p>{{pro.name}}</p>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="description" >
                    <div>{{pro.description}}</div>
                  </div>

                </div>
                <div class="action-box col-md-1">
                  <!--        ví dụ về button sửa-->
                  <button (click)="updateProduct(pro.id)"  class="btnn edit"  ><i class="far fa-pen"></i> </button>

                  <button  (click)="deleteProduct(pro.id)"   class="btnn dele" ><i class="far fa-times"></i> </button>
                </div>
              </div>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" *ngIf="paging.totalRecord >0" style="margin-top: 20px;" >
    <div class="col-lg-12" style="text-align: center;">
      <pagination-controls  previousLabel="<"
      nextLabel=">"
      [id]="'product'"
      (pageChange)="handlePageChange($event)"
      [maxSize]=" paging.totalRecord"
      >
      </pagination-controls>
    </div>
  </div>



