<div class="toolbar">
  <div class="container">
    <div class="d-lg-block d-none ">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex">
          <div class="d-flex">
            <form (ngSubmit)="search()" class="d-flex">
              <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm " class="searchinput mr-1 ">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="right-d-flex my-auto">
          <div class="d-flex  flex-wrap">
            <div class=" mr-2">
              <div class="d-flex">
                <span class=" mr-1 my-auto ">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size">
                </app-page-size>
              </div>
            </div>
            <div class="my-auto">
              
              <a class="ht-btn-custom my-auto "  (click)="addProduct()" title="Thêm tin mới"><i
                  class="fas fa-file-plus fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-lg-none d-block text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="border p-2" >
            <form (ngSubmit)="search()" class="d-flex w-100 ">
              <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm " class=" w-75 searchinput mr-1 ">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </li>
          <li class="border p-2" >
            <span class="m-auto ">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size">
                </app-page-size>
          </li>
          <li class="border p-2" >
            <div class="d-flex" (click)="addProduct()" >
              <span class="mx-auto">Thêm mới </span>
              <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container  section-space--mt_100 list-table ">
  <p class="text-title">SẢN PHẨM</p>
  <table class="table mb-1 section-space--mt_30 ">
    <thead style="position: sticky;top: 0 ; z-index: 1;  " >
      <tr>
        <th scope="col" style="width: 20%;">Ảnh</th>
        <th class="w-25" scope="col">Tiêu đề</th>
        <th class="w-25" scope="col">Mô tả</th>
        <th class="" scope="col">Thời gian</th>
        <th class="" scope="col">Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of products | paginate:{
        id: 'product',
        itemsPerPage:paging.size,
        currentPage:paging.page,
        totalItems: paging.totalRecord
          }">
        <td style=" width:20%">
          <div class=" text-center">
            <img src="{{baseURL}}/{{productURL}}/image/{{pro.id}}" class="w-50" alt="img product">
          </div>
        </td>
        <td class="w-25">
          <p class=" des-post font-weight-bold " style="font-size: 18px;">
            {{pro.title}}
          </p>
        </td>
        <td class="w-25">
          <p class="des-post ">
            {{pro.description}}
          </p>
        </td>
        <td class="text-center">
          <p class="">{{pro.date}}</p>
        </td>
        <td class="text-center">
          <div class="btn-group dropright ">
            <i title="Chức năng" class='icon-more fa fa-ellipsis-h ' data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" style='font-size:24px'></i>
            <div class="dropdown-menu text-center p-0">
              <p class="edit icon-more mb-1 drop " (click)="updateProduct(pro.id)">Chỉnh sửa</p>
              <p class="dele icon-more drop " (click)="deleteProduct(pro.id)">Xóa</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div *ngIf="paging.totalRecord>0" class="col-md-12" style="margin-bottom: 10px;">
      <div class="row">
        <div class="col-md-6">
          <pagination-controls previousLabel="<" nextLabel=">" [id]="'product'" (pageChange)="handlePageChange($event)"
            [maxSize]=" paging.totalRecord">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>