
  .header-menu{

    text-align: center;
    justify-content: center;
    align-content: center;
  }
.input-button{
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 3px;
}
.searchinput{
  border-radius: 5px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
  height: 30px;
  width: 50%;
 } 

  .ht-btn-custom{
    font-size: 16px;
    color: #121213;
  }
  
  
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  input:focus{
    border: 1px solid #111111;
    color: black;
  }
  .text-title{
    color: #50b848;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
/* scroll */
.item-blog{
  max-height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.item-blog::-webkit-scrollbar {
  display: none;
}
/* table */

.des-post{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table{
  border: 0.3px solid;
  border-collapse: separate;
}
.header {
  position: sticky;
  top:0;
}
.container::-webkit-scrollbar {
  display: none;
}

.list-table{
  height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

th{
  text-align: center;
}
.icon-more:hover{
  cursor: pointer;
  color: #a1b234;
}

.edit:hover{
  background-color: rgb(103, 190, 74);
  color: white;
}
.dele:hover{
  background-color: rgb(240, 56, 56);
  color: white;
}
.drop{
  padding: 8px 0px;
  font-size: 14px;
}
