.toolbar{
    height: 65px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
    border-top: 1px solid #eff2f5;
  }
  .header-menu{
    padding: 10px 15px 0px 12px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
.input-button{
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 3px;
}
  .spann{
    color: #0d0d0d;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
    width: 40%;
  }

  .ht-btn-custom{
    margin-top:2px;
    color: #121213;
  }
  
  .menu-item{
    margin-left: 15px;
    margin-top: 8px;
  }
  .custom-select{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .item-blog + .item-blog{
    margin-top: 15px;
    text-align: center;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  .inputt{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
    display: flex;
  }
  .search{
    width: 60%;
    height: 30px;
    margin-top: 7px;
  }
.action-box {
  padding-left: 0px;
  display: flex;
  right: 0;
  color: #fff;
}
  .card{
    border-radius: 10px;
  }
  img{
    border-radius: 10px;
  }
  .btnn{
    border: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    color: rgb(66, 62, 94);
  }
  .edit{
   
    border-radius: 10px;
  }
  .dele{
    border-radius: 10px;
  }
  .edit:hover{
    background-color: rgb(103, 190, 74);
    color: white;
  }
  .dele:hover{
    background-color: rgb(240, 56, 56);
    color: white;
  }
  .tittle-blog{
    font-family: Rubik;
  }
  .title-product {
    font-size: 25px;
    font-weight: bolder;
    color: #5bb342;
    text-align: center;
   

  }
  
  .pro_description{
 margin: auto;
  }

  /*-------------------------------------------------------------*/
  a.btn-link{
    width: 100%;
    text-align: left;
    color: #6d70a6;
    padding: 20px 30px;
    position: relative;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
  }
  a.btn-link span {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  a.btn-link span:hover, a.btn-link span:focus{
    text-decoration: none;
    color: #5945e6;
  }

.pro_name{
  margin: auto;
}

.hiden{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}