<div class="toolbar">
  <div class="container">
    <div class="d-flex justify-content-between header-menu ">
      <div class="d-sm-block d-none">
        <div class="left-d-flex d-flex  ">
          <!-- <h5 class="title-cate">Chuyên Mục</h5> -->
          <form (ngSubmit)="search()" class="d-flex">
            <input class="search input-search" type="text" [(ngModel)]="searchInput.input" name="searchInput.input"
              placeholder="Tìm kiếm ">
            <div class="input-group-append inputt">
              <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            </div>
          </form>
          
        </div>
      </div>
      <div class="d-sm-block d-none ">
        <div class="right-d-flex ">
          <div class="d-flex  flex-wrap">
            <div class="d-flex">
              <span class="mr-1">Số mục mỗi trang:</span>
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size">
              </app-page-size>
            </div>
            <div class="my-auto ml-2">
              <a class="ht-btn-custom" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-flex justify-content-end">
      <div class="d-sm-none d-block">
        <div class="btn-group dropstart">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </div>
          <ul class="dropdown-menu p-0">
            <li class="border p-2">
              <form (ngSubmit)="search()" class="d-flex">
                <input class="search input-search" type="text" [(ngModel)]="searchInput.input" name="searchInput.input"
                  placeholder="Tìm kiếm ">
                <div class="input-group-append inputt">
                  <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </li>
            <li class="border p-2">
              <p class="m-0">Số mục mỗi trang:</p>
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size">
              </app-page-size>
            </li>
            <li class="border p-2">
              <div class="d-flex" routerLink="add">
                <span class="mx-auto">Thêm mới </span>
                <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <app-category-add #modal></app-category-add> -->

<div class="container list-table ">
  <div class="text-center section-space--mt_100  ">
    <p class="text-title">DANH SÁCH CHUYÊN MỤC</p>
  </div>
  <div class=" container section-space--mt_30 text-center">
    <table class="table section-space--mt_30 col-12 col-lg-8 col-xl-8 mx-auto">
      <thead style="position: sticky;top: 0 ; z-index: 1;">
        <tr>
          <th scope="col" >STT</th>
          <th class="w-50" scope="col">tên chuyên mục</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ct of category |  paginate:{
          id:'cate',
          itemsPerPage: paging.size,
          currentPage: paging.page,
          totalItems: paging.totalRecord } ; let i = index ">
          <td>
            <span>{{i+1}}</span>
          </td>
          <td>
            <div class="counter-number text-capitalize ">{{ct.typeName}}</div>
          </td>
          <!-- <td class="text-center">
            <div class="dropstart ">
              <button  type="button" class="btn btn-secondary h-50 rounded-circle "
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i title="Thao tác" class='icon-more fa fa-expand ' style='font-size:14px'></i>
                </button>
              <div class="dropdown-menu text-center p-0">
                <ul class="p-0 m-0 ">
                  <li class="border p-2 edit " (click)="Update(ct.id)" >
                      <button   style=" background: initial;" class=" border-0  ">Chỉnh sửa
                      </button>
                  </li>
                  <li class="border p-2 dele " (click)="Delete(ct.id)"   >
                      <button style=" background: initial;"  class=" border-0 "> Xóa </button>
                  </li>
                </ul>
              </div>
            </div>
          </td> -->
          <td style="text-align: center;">
            <button class="icon status_admin icon-edit me-0 me-md-2 " (click)="Update(ct.id)"><a class="icon-item" ><i
                  class="fas fa-pen i"></i></a></button>
            <button class="icon icon-remove  mt-2 mt-md-0 ">
              <a class="icon-item" (click)="Delete(ct.id)"><i class="fas fa-trash-alt remove i"></i></a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="paging.totalRecord>0" class=" container w-50 " >
    <pagination-controls [id]="'cate'" previousLabel="<" nextLabel=">" (pageChange)="handlepagechange($event)"
      [maxSize]="paging.totalRecord"></pagination-controls>
  </div>
</div>