<form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="update_box">
          <span><strong>Ảnh bìa</strong></span>
          <div class="image">
            <img src="{{imageURL}}" alt="" appHideMissing>
          </div>
          <input type="file" value="select" (change)="thumbnailChange($event)">
        </div>
        <div class="update_box">
          <span><strong>Mô tả</strong></span>
          <input type="text" [(ngModel)]="post.description" name="description">
        </div>
        <div class="update_box">
          <span><strong>Chuyên mục</strong></span>
          <select [(ngModel)] = "post.category.typeName" name="category">
            <option *ngFor="let cate of categories" [ngValue]= "cate.typeName">{{cate.typeName}}</option>
          </select>
        </div>
        <div class="update_box">
          <span><strong>Thẻ tag</strong></span>
        </div>
          <mat-form-field class="example-chip-list">
            <mat-chip-grid  #chipGrid aria-label="Tag selection">
              <mat-chip-row style="background-color: #b4b4b473" *ngFor="let hashtag of post.hashtags" (removed)="remove(hashtag)" >
                {{hashtag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + hashtag.name">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Nhập thẻ tag..." #hashtagInput [formControl]="hashtagCtrl"
                   [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addHashtag($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option  *ngFor="let hashtag of filteredHashtag | async" [value]="hashtag.name">
                {{hashtag.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>



        <div class="submit-button">
          <p style="color: red" *ngIf = "isFalse == true">{{message}}</p>
          <button type="submit" class="btn btn-primary btn-lg btnn">Lưu</button>
          <button type="button" class="btn btn-secondary btn-lg btnn cancel" (click)="goToPostList()" >Hủy</button>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="update_box">
          <span><strong>Tiêu đề</strong></span>
          <input type="text" name="title" [(ngModel)]="post.title" required>
        </div>
        <div class="update_box">
          <span><strong>Nội dung</strong></span>
          <div class="ckeditorContaniner" id="editor">
            <ckeditor [(ngModel)]="post.content" [ngModelOptions]="{standalone: true}" [config]="ckeConfig" (change)="onFileUploadRequest($event)" ></ckeditor>
          </div>


        </div>
      </div>
    </div>
  </div>

<!--<script>-->
<!--  InlineEditor-->
<!--    .create( document.querySelector( '#editor' ) )-->
<!--    .catch( error => {-->
<!--      console.error( error );-->
<!--    } );-->
<!--</script>-->

</form>
<script>
  CKEDITOR.replace('editor1');
</script>
