.update_box{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.update_box .image{
  position: relative;
  height: 210px;
  width: 100%;
}
.update_box .image img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.update_box img{
  width: 100%;
  object-fit: fill;
}
.update_box span{
  color: #50B848;
}
.update_box input{
  padding: 10px;
  width: 100%;
  border: 1px solid #50B848;
}
.cancel{
  background-color: #cccccc;

}
.cancel:hover{
  background-color: rgba(43, 43, 63, 0.85);
}
.btnn {
  margin-right: 15px;

}

.example-chip-list {
  width: 100%;
}

.changeBGC{
  background-color: #0d8abc;
}
.custom-chip{
  background-color: deepskyblue;
}


select:focus{
  border: 1px solid #50B848;
 color: black;
}
option{
  color: black;
}