
  .header-menu{
    text-align: center;
    justify-content: center;
    align-content: center;
  }
.input-button{
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 3px;
}
.searchinput{
  border-radius: 5px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
  height: 30px;
  width: 50%;
 } 

  .ht-btn-custom{
    font-size: 16px;
    color: #121213;
  }
  
  
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  input:focus{
    border: 1px solid #111111;
    color: black;
  }
  .text-title{
    color: #50b848;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
/* scroll */
.item-blog{
  max-height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.item-blog::-webkit-scrollbar {
  display: none;
}
/* table */

.des-post{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header {
  position: sticky;
  top:0;
}
.container::-webkit-scrollbar {
  display: none;
}

.list-table{
  height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.icon-more:hover{
  cursor: pointer;
  color: #a1b234;
}
.icon{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
}
.icon-edit{
  background-color: #3366FF;
}
.icon-remove{
  background-color: rgb(93 95 97);
}
.icon-add{
 background-color: rgb(54, 219, 25);
 color: #eff2f5;
}
.icon-item{
  color: #eff2f5;
}
.icon-item:hover{
  color: black;
}

.edit:hover{
  background-color: rgb(103, 190, 74);
  color: white;
}
.dele:hover{
  background-color: rgb(240, 56, 56);
  color: white;
}
.drop{
  padding: 8px 0px;
  font-size: 14px;
}
/* .table{
  box-shadow: 9px 9px gainsboro
}
table tr:nth-child(1) 
{
    background: #09f634;
    color:black;
}
table tr:nth-child(1) td 
{
    color:black;
}
table td
{
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-spacing: 0;
}
th{
  text-align: center;
  text-transform: capitalize;
  background-color: #10793194;
  border-color: #0b8a3c;
  color: white;
  border: 1px solid black;
} */
.card{
  border: 1px solid rgb(226 226 226);
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
}
.btn{
  border-color: #F5F8FA;
  background-color: #F5F8FA;
  width: 45px;
}
.btn2{
  border-color: #F5F8FA;
  background-color: #F5F8FA;
}
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn2:hover{
  color: #FFFFFF;
  border-color: #009EF7;
  background-color: #009EF7;
  .svg-icon2 [fill]{
    fill: #ffffff;
  }
} 

.btn-light-primary {
  color: #009EF7;
  border-color: #F1FAFF;
  background-color: #F1FAFF;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

svg {
  height: 1.2rem;
  width: 1.2rem;
}
 .svg-icon2 [fill]{
  fill: #009EF7;
}
.svg-icon [fill]{
  fill: #181c32;
}
span {
  content: "\002B";
}