<form (ngSubmit)="onSubmit()" >
	<div class="row comment" *ngFor="let cmt of commentList ; let total = count  ">
		<div>
			<div class="col-md-2">
			<div class="info-comment">
				<div class="img-comment d-flex flex-column">
					<img src="./assets/images/avt.jpg" alt="">
					<span >
						{{cmt.user.username}}
						</span>
						<span>{{cmt.date}}</span>
				</div>
			</div>
			</div>
		<!-- ====== -->
			<div class="col-md-10">
			<div class="content-comment ">
				<span>{{cmt.content}}</span>
				<p>
					<a  class="btn-link" (click)="addParentId(cmt.id)" data-toggle="collapse"  href="#{{cmt.id}}" > Trả lời</a>
				</p>
          	<div *ngFor="let cmtChild of commentListChild" class="d-flex flex-column" style="margin-bottom: 10px; margin-left: 10px; " >
            	<div class="reply-content row  " *ngIf="cmt.id == cmtChild.parentId">
              		<div class="col-md-2">
						<div class="info-comment">
							<div class="img-comment d-flex flex-column" style="margin: 0px;">
								<img src="./assets/images/avt.jpg" alt="">
								<span >
									{{cmtChild.user.username}}
									</span>
									<span>{{cmtChild.date}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<p class="child-content">{{cmtChild.content}}</p>
					</div>
					<div class="col-md-2" *ngIf="userId == cmtChild.user.id ">
						<a  href="" >Chỉnh sửa</a>
					</div>
            
            </div>

          	</div>
			<div id="{{cmt.id}}" class="collapse " data-parent="#accordion" >

              <div class="reply-submit" >
                <textarea name="content" id="" [(ngModel)]="comment.content" cols="30" rows="10" placeholder="Bạn nhập bình luận tại đây"></textarea>
                <button class="btn-success btn" type="submit">Bình luận</button>
              </div>

					</div>
				</div>
			</div>
		</div>
		<hr  class="hr">
	</div>
	
</form>





