<div class=" " style="padding-top: 10px; padding-bottom: 90px;">
  <div class="container">
    <div class="col-lg-12">
      <div class=" text-center sec ">
        <h2 class="title section-space--mb_60 ">GIỚI THIỆU</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row mx-0 mx-md-5 " style=" padding:3% ; background-color: #f4f4f4;">
            <div class="col-lg-6 col-ms-6 col-xs-12 text-justify ">
              <div class="box-content">
                <p [innerHTML]="des">
                </p>
              </div>
              <div class="col-md-12">
                <div class="service-link"><a class="color-gree" href="/gioi-thieu/ve-chung-toi/">TÌM HIỂU THÊM</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-lg-6 col-ms-6 col-xs-12 ">
              <figure class="w-100 h-100" [innerHTML]="linkvideo"></figure>
              <!-- <img src="http://localhost:8080/s/file/image/1693142942953_127.jpg" alt=""> -->
              <!-- <video controls playsinline="true" webkit-playsinline="true" [src]="src" type="video/mp4">
              </video> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>