<div class="toolbar">
  <div class="container">
    <div class="d-none d-lg-block ">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex my-auto">
          <div class="d-flex">
            <form (ngSubmit)="search()" class="my-auto" style="display: contents;">
              <input type="text" [(ngModel)]="searchInput.input" name="searchInput" placeholder="Tìm kiếm "
                class="searchinput mr-1">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text  "><i class="fa fa-search"></i></button>
              </div>
            </form>
            <div class="item-select my-auto ">
              <button class="btn btn-success search mr-1" (click)="Pending()">Chưa Liên Hệ</button>
              <button class="btn btn-primary search mr-2" (click)="Process()">Đã Liên Hệ</button>
              <a (click)="refresh()" class="my-auto">
                <img src="./assets/images/reload.png" alt="" class="img-reload">
              </a>
            </div>
          </div>
        </div>
  
        <div class="right-d-flex">
          <div class="d-flex  flex-wrap">
            <div class="menu-item ">
              <div class="d-flex my-auto">
                <span class="my-auto mr-1">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size" class="my-auto"></app-page-size>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class=" d-flex justify-content-end ">
      <div class="d-lg-none d-block">
        <div class="btn-group dropstart">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </div>
          <ul class="dropdown-menu p-0">
            <form (ngSubmit)="search()" class="my-auto" style="display: contents;">
              <li class="d-flex border p-2 " >
                <input type="text" [(ngModel)]="searchInput.input" name="searchInput" placeholder="Tìm kiếm "
                class="searchinput  w-100 ">
                <button type="submit" class="input-group-text  "><i class="fa fa-search"></i></button>
              </li>
            </form>
            <li class="border p-2" >
              <button style="font-size: 13px;" class=" btn btn-success search w-100  " (click)="Pending()">Chưa Liên Hệ</button>
            </li>
            <li class="border p-2" >
              <button style="font-size: 13px;" class="btn btn-primary search w-100 " (click)="Process()">Đã Liên Hệ</button>
            </li>
            <li class="border p-2 text-center"  >
              <span class="my-auto mr-1">Số mục mỗi trang:</span>
            </li>
            <li class="border p-2" >
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size" class="my-auto"></app-page-size>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="container-xl section-space--mt_100 list-contact ">
    <p class="text-title ">liên hệ</p>
      <table class="table section-space--mt_30 ">
        <thead style="position: sticky;top: 0 ; z-index: 1; "   >
          <tr>
            <th scope="col">Tên</th>
            <th scope="col">SĐT</th>
            <th scope="col">Email</th>
            <th scope="col" style="width: 25%;">Nội Dung</th>
            <th scope="col">Thời gian</th>
            <th scope="col">Trạng thái</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contactList  | paginate:{ id:'contact',
                                                            itemsPerPage: paging.size,
                                                            currentPage: paging.page,
                                                            totalItems: paging.totalRecord }  ">
            <td scope="row">{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td> <a href="mailto:{{item.email}}">{{item.email}}</a> </td>
            <td><a class="btn-link" style=" color: #337ab9;" placement="top" ngbTooltip="{{item.content}}">
                {{item.content}}
              </a></td>
            <td>{{item.dates}}</td>
            <td>
              <button class="btn btn-notcontact h-75 text-white " *ngIf="item.status ; else dalienhe" (click)="Notcontact(item.id)">Chưa
                Liên Hệ</button>
              <ng-template #dalienhe>
                <button class="btn btn-contacted h-75 text-white " (click)="Contacted(item.id)">Đã Liên Hệ</button>
              </ng-template>
            </td>
            <td style="text-align: center;"  >
              <button style="background: #0f6b33;" class=" btn h-75 text-white " (click)="Delete(item.id)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="paging.totalRecord>0" class="col-md-12" style="margin-bottom: 10px;">
        <div class="row">
          <div class="col-md-6">
            <pagination-controls previousLabel="<" nextLabel=">" [id]="'contact'"
              (pageChange)="handlepagechange($event)" [maxSize]="paging.totalRecord"></pagination-controls>
          </div>
        </div>
      </div>
  </div>
