<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <h5 class="h5" >Người liên hệ</h5>
          <input type="text " class="form-control "  placeholder="Tìm kiếm" style="height: 30px; width: 110px;">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            <div class="item-select">
                <select class="custom-select" style="width: 120px ; height: 30px;"  >
                  <option >Trạng thái</option>
                  <option>Đã liên hệ</option>
                  <option>Chưa liên hệ</option>
                </select>
              </div>
          </div>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1" style="margin-top: 5px;">Số mục mỗi trang:</span>
              <select class="custom-select">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
              <a routerLink="../">
                <i class="fa fa-arrow-circle-o-left" style="font-size: 28px; margin: 3px 0px 0px 8px; color: black;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="mt-90">
    <div class="container">
      <div class="detail">
          <table class="table table-striped" id="myTable">
            <thead>
              <tr style="font-weight: bold;">
                  <td>Tên</td>
                  <td>SĐT</td>
                  <td>Email</td>
                  <td>Nội Dung</td>
                  <td>Thời gian</td>
                  <td>Trạng thái</td>
                  <td></td>
              </tr>
            </thead>
            <tbody *ngFor="let item of contactList">
              <tr (click)="pick(item)" >
                <td scope="row">{{item.name}}</td>
                  <td>{{item.phone}}</td>
                  <td> <a href="mailto:{{item.email}}">{{item.email}}</a> </td>
                  <td><a class="btn-link" data-toggle="collapse"  href="#demo{{item.id}}" style="width: 80px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> 
                    {{item.content}}
                  </a></td>
                  <td>{{item.dates}}</td>
                  <td>
                    <!-- <input type="checkbox" id="status" name="status" [(ngModel)]="item.status"> -->
                    <button class="btn btn-notcontact" 
                    *ngIf="item.status ; else dalienhe" (click)="Notcontact(item.id)" >Chưa Liên Hệ</button>
                      <ng-template #dalienhe>
                        <button class="btn btn-contacted" (click)="Contacted(item.id)" >Đã Liên Hệ</button>
                      </ng-template>
                    
                  </td>
                  <td>  <i  class="fa fa-remove" (click)="Delete(item.id)" style="cursor: pointer;" ></i> </td>
              </tr>
              <tr>
                <td colspan="7">
                  <div id="demo{{item.id}}" class="collapse" data-parent="#accordion">
                    <div style="text-align:start;" [innerHTML]="item.content">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>




    