
  .header-menu{

    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .text-title{
    text-transform: uppercase;
    color: #50b848;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
  }

  .item-blog{
    margin-top: 30px;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }

  .searchinput{
    border-radius: 5px;
    align-items: center;
    background-color: #EAEFF4;
    border: 1px solid #F6F9FC;
    height: 30px;
    width: 25%;
   }
   input:focus{
    border: 1px solid #111111;
    color: black;
  }
.input-group-text{
    margin-right: 3px;
    height: 30px;
}
.item-select{
    flex-direction: row;
    justify-content: center;
    display: flex;

  }

.mt-90{
  margin-top: 90px;
}
  /*  */
  
.icon{
    position: static;
     
     margin-left: 10px;
     padding: 5px 10px 5px 10px;
     font-size: 15px;
     border-radius: 10px;
   }
  

   .btn-success:hover{
     color: black;
   }
  
   .detail{
    display: grid;
    grid-gap: 20px;
    border: 1px rgb(146, 146, 146);
   }
/* table */
 th{
  text-align: center;
  text-transform: capitalize;
  background-color: #5D87FF;
  border-color: #5D87FF; 
  color: white;
 }
 .table{
  /* border-collapse: separate; */

}
.list-contact{
  height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


  .btn-link{
   
    width: 200px;
     white-space: nowrap; 
     overflow: hidden; 
     text-overflow: ellipsis;
  }
  .btn-link:hover{
    text-decoration: none;
  }
  .btn-notcontact{
  
    width: 100%;
    background-color: #50b848;
  }
  .btn-contacted{
   
    width: 100%;
     background-color: #6e706d;
  }
  .search{
    height: 50%;
    font-size: 11px;
    width: max-content;
  }

  .input-search:focus{
    color: black;
    border: 1px solid black;
  }
  .img-reload{
    width: 18px;
    height: 18px;
}
