.status{
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  color: white;
  margin: 0.8px;
}
.status_user{
  background-color: rgb(15, 156, 15);
}
.status_mod{
  background-color: rgb(189, 152, 2);
}
.status_admin{
  background-color: red;
}
