<!-- mobile -->
<div class="d-block d-lg-none">
  <div class="px-3 py-2 icon-menu  " data-bs-toggle="collapse" href="#collapseExampleMenu" aria-expanded="false"
    aria-controls="collapseExample">
    <i style="font-size: 22px;" class="fa fa-bars"></i>
  </div>

  <aside id="collapseExampleMenu" class=" left-sidebar collapse sidebar-mobile ">
    <div style="height: 90%; width: min-content; ">
      <div class="brand-logo-mobile  mb-0  ">
        <a href="#" target="_blank" class="text-nowrap logo-img d-flex ">
          <img class="w-50 mx-auto " src="./assets/images/logoEcoit.jpg" />
        </a>
      </div>

      <nav class="w-auto h-100 sidebar-nav scroll-sidebar nav-mobile " data-simplebar="">
        <ul id="sidebarnav" class="ps-0">
          <li class="my-2">
            <span class=" font-weight-bold ">Admin-EcoIT</span>
          </li>
          <li class="sidebar-item mb-1 " *ngFor="let module of modules ;">
            <a class="sidebar-link " style="padding: 10px 40px 10px 10px;" routerLink="{{module.a}}"
              routerLinkActive="active" aria-expanded="false">
              <span class="">
                <i class="icon {{module.icon}}"></i>
              </span>
              <span class="hide-menu text-capitalize ">{{module.tittle}}</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" (click)="logout()" aria-expanded="false">
              <span>
                <i class="fa fa-sign-out" style="font-size: 18px;"></i>
              </span>
              <span class="hide-menu ">Đăng Xuất</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </aside>

</div>



<!-- side bar  -->
<aside class="left-sidebar sidebar d-none d-lg-block ">
  <!-- Sidebar scroll-->
  <div class="logo-sidebar">
    <div class="brand-logo  mb-0  ">
      <a href="#" target="_blank" class="text-nowrap logo-img">
        <img src="./assets/images/logoEcoit.jpg" width="180" alt="" />
      </a>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar px-2 " data-simplebar="">
      <ul id="sidebarnav" class="ps-0">
        <li class="my-2 text-center ">
          <div class="d-flex w-100 flex-column">
            <!-- <img class=" avt-accout rounded-circle me-1 me-md-2 " src="./assets/images/avt.jpg" alt=""> -->
            <div class="d-flex name-accout ">
              <span class=" me-1 me-md-2"><strong>Tài Khoản:</strong></span>
              <span class="text-uppercase" >{{userName}} </span>
            </div>
            <div class="d-flex name-accout ">
              <span class=" me-1 me-md-2 "><strong>Quyền:</strong></span>
              <span>{{roleName}}</span>
            </div>
          </div>
        </li>
        <li class="sidebar-item mb-1 " *ngFor="let module of modules ;">
          <a class="sidebar-link " routerLink="{{module.a}}" routerLinkActive="active" aria-expanded="false">
            <span class="">
              <i class="icon {{module.icon}}"></i>
            </span>
            <span class="hide-menu text-capitalize ">{{module.tittle}}</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  data-bs-toggle="modal" data-bs-target="#logout" >
            <span>
              <i style="font-size: 18px;" class="fa fa-sign-out"></i>
            </span>
            <span class="hide-menu">Đăng Xuất</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>


<div class="modal fade " id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn đăng xuất không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" (click)="logout()" class="btn btn-primary">Đăng xuất</button>
      </div>
    </div>
  </div>
</div>