
<div class="aside " >
  <div class="logo-aside"  >
    <a href="#" target="_blank" class="align-items-center">
      <img  alt="Logo" src="assets/images/diacau.png" class="logo" style="text-align: center">
    </a>
  </div>

  <div class=" list-aside">
    <ul style="margin-bottom: 0px;">
      <li class="menu-item-aside" *ngFor ="let asides of aside">
        <!--        1-->
        <div title="{{asides.tittle}}" class="title-menu-aside">
          <a  routerLink="{{asides.a}}" routerLinkActive="active" class="a">
          <span class="menu-iconn item-iconn">
            <i class="icon {{asides.icon}}">
            </i>
          </span>
          </a>
        </div>
      </li>
    </ul>
  </div>


</div>



