/* .logo{
  background-color: black ;

  width: 150px;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border: 0;
  padding: 5px 5px 5px 10px;
}
.title-menu-aside{
  padding-top: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.item-iconn{
  height: 50px;
  padding: 13px 20px 0px 20px;
  text-align: center;

  border-radius: 15px;
}
.icon{
  color: black;
}
.item-iconn:hover {
  background-color: #ffffedcb;
}


.item-iconn:active {
  transform: translateY(4px);
}

.menu-iconn{
  display: flex;
  text-align: center;
  font-size: 24px;

}
.logo-aside{

  background-color: #50b848;
}


.list-aside{
  padding-top: 0px;
  height: 100%;
  background-color: #29802a;
  overflow-y: auto;

}
.list-aside::-webkit-scrollbar{
  display: none;
}


.aside{
  background-color: #29802a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  width: 120px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 28px 0 rgba(82, 63, 105, 0.05);

}

.far{
  color: black;

}
.fas{
  color: black;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
} */

.scroll-sidebar{
  overflow: hidden;
}
.scroll-sidebar:hover {
  overflow:auto;
}

.scroll-sidebar::-webkit-scrollbar {
  width: 6px;
}

.scroll-sidebar::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.scroll-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8d8d8d5c;
}
.brand-logo{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #b4b4b4;
  display: flex;
  justify-content: center;
}
.sidebar-link:hover{
 text-decoration: none;
}
a{
  text-decoration: none;
}
.left-sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}