<!-- 
<div class="aside " >
  <div class="logo-aside"  >
    <a href="#" target="_blank" class="align-items-center">
      <img  alt="Logo" src="assets/images/diacau.png" class="logo" style="text-align: center">
    </a>
  </div>

  <div class=" list-aside">
    <ul style="margin-bottom: 0px;">
      <li class="menu-item-aside" *ngFor ="let asides of aside">
        
        <div title="{{asides.tittle}}" class="title-menu-aside">
          <a  routerLink="{{asides.a}}" routerLinkActive="active" class="a">
          <span class="menu-iconn item-iconn">
            <i class="icon {{asides.icon}}">
            </i>
          </span>
          </a>
        </div>
      </li>
    </ul>
  </div>


</div> -->



<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo mb-0  ">
      <a href="#" target="_blank" class="text-nowrap logo-img">
        <img src="./assets/images/logoEcoit.jpg" width="180" alt="" />
      </a>
      <!-- <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div> -->
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu h5 font-weight-bold ">Admin-EcoIT</span>
        </li>
        <li class="sidebar-item mb-2 " *ngFor ="let asides of aside ;" >
          <a class="sidebar-link" routerLink="{{asides.a}}" routerLinkActive="active"  aria-expanded="false">
            <span class="h5" >
              <i class="icon {{asides.icon}}"></i>
            </span>
            <span class="hide-menu text-capitalize h5">{{asides.tittle}}</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="logout()" aria-expanded="false">
            <span>
              <i class="ti ti-logout"></i>
            </span>
            <span class="hide-menu h5">Đăng Xuất</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>


