.logo{
  background-color: black ;

  width: 150px;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  border: 0;
  padding: 5px 5px 5px 10px;
}
.title-menu-aside{
  padding-top: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.item-iconn{
  height: 50px;
  padding: 13px 20px 0px 20px;
  text-align: center;

  border-radius: 15px;
}
.icon{
  color: black;
}
.item-iconn:hover {
  background-color: #e5eee7;
}


.item-iconn:active {
  transform: translateY(4px);
}
.menu-iconn{
  display: flex;
  text-align: center;
  font-size: 24px;

}
.logo-aside{
  
  background-color: #50b848;
}
.list-aside{
  padding-top: 0px;
  /* max-height: 605px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; */
  background-color: #50b848;
}
/* .list-aside::-webkit-scrollbar{
  width: 0 !important;
  display: none; 
} */
.aside-more{
  justify-content: center;
  background-color: #50b848;
  text-align: center;
  font-size: 24px;
  bottom: 2% ; position: fixed ;
}

.aside{
  background-color: #50b848;
  height: 100%;
  /* position: fixed;
  left: 0; */
}
.menu-item-aside{

}
.far{
  color: black;

}
.fas{
  color: black;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
