
.header-menu{
   /* padding: 10px 15px 0px 12px; */
  text-align: center;
  justify-content: center;
  align-content: center;
}
.h55{
  font-weight: bolder;
  font-size: 18px;
  color: black;
}

.ht-btn-custom{
  font-size: 16px;
  color: #121213;
}

.menu-item{
  margin-left: 15px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* === */
.title-conten{
  text-align: center;
  padding: 90px 0px 0px 0px;
}
.text-title{
  color: #50b848;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.hr{
  width: 150px;
  background-color: #50b848;
  font-weight: bolder;
}

.action-box {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 3;
}
.number-icon{
  margin-top: 20px;

}
.btnn{
  border: 0px ;
  width: 27px;
}
.btnn:hover{
  color: black;
}
.content-box{
  font-weight: bolder;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

}
.itemm{
  padding-bottom: 15px;
  color: #50b848;
  font-size: 25px;
  text-transform: capitalize;
}
