
.header-menu{
   /* padding: 10px 15px 0px 12px; */
  text-align: center;
  justify-content: center;
  align-content: center;
}

.ht-btn-custom{
  font-size: 16px;
  color: #121213;
}
.text-title{
  color: #50b848;
  font-size: 30px;
  font-weight: bold;
}
/* table */
.list-table{
  height: 620px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.list-table::-webkit-scrollbar{
  display: none;
}

th{
  text-align: center;
  text-transform: capitalize;
  background-color: #5D87FF;
  border-color: #5D87FF;
  color: white;
}
.edit:hover{
  background-color: rgb(103, 190, 74);
  color: white;
}
.dele:hover{
  background-color: rgb(240, 56, 56);
  color: white;
}
.des{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  color: #eff2f5;
}
.icon-edit{
  background-color: #3366FF;
}
.icon-remove{
  background-color: rgb(93 95 97);
}
.icon-add{
 background-color: rgb(54, 219, 25);
 color: #eff2f5;
}
.icon-item:hover{
  color: black;
}
.table{
  border-collapse: separate;
}