<div class="toolbar">
  <div class="container">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="d-flex">
        <p class="h55 my-auto"> Bảng Tiêu Biểu</p>
      </div>
      <div class="right-d-flex d-none d-md-block">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="mr-1">Số mục mỗi trang:</span>
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size">
              </app-page-size>
            </div>
          </div>
          <div class="menu-item">
            <a class="ht-btn-custom" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="d-md-none d-block">
        <div class="btn-group dropstart">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
          <ul class="dropdown-menu p-0">
            <li class="p-2 border ">
              <p class="mb-0" >Số mục mỗi trang:</p>
              <app-page-size (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size">
              </app-page-size>
            </li>
            <li class="p-2 border">
              <div class="d-flex" routerLink="add" >
                <span class="mx-auto" >Thêm mới </span>
                <a class="ht-btn-custom mx-auto "  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="number">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center section-space--pt_100 ">
          <p class="text-title"> NHỮNG CON SỐ TIÊU BIỂU</p>
        </div>
      </div>
    </div>
    <div class="number-icon container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12 " style="margin-bottom:20px" *ngFor="let num of number | paginate:{
                                                                          id:'number',
                                                                          itemsPerPage: paging.size,
                                                                          currentPage: paging.page,
                                                                          totalItems: paging.totalRecord  }">
          <div class="card"
            style=" border: 1px solid rgb(255, 255, 255); box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.06)">
            <div class="action-box">
              <div>
                <!--ví dụ về button sửa-->
                <button (click)="updateTypicalNum(num.id)" style="background-color: #50b848" class="btnn"><i
                    class="far fa-pen"></i> </button>
              </div>
              <div>
                <button (click)="deleteTypicalNum(num.id)" style="background-color: rgb(255,0,0)" class="btnn"><i
                    class="far fa-times"></i> </button>
              </div>
            </div>
            <div class="content-box ">
              <h4 class="box-icon itemm">
                <i class="{{num.icon}}">
                </i>
              </h4>
              <div class="counter-number itemm">+{{num.num}}</div>
              <h5 class="itemm">{{num.description}}</h5>
            </div>
          </div>
        </div>
        <div *ngIf="paging.totalRecord>0" class="col-md-12" style="margin-top: 20px;">
          <pagination-controls [id]="'number'" previousLabel="<" nextLabel=">" (pageChange)="handlePageChange($event)"
            [maxSize]="paging.totalRecord"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>