
<app-header></app-header>

<app-slider-list>

<div class="col-md-12">
  <div class="my-4">
    <div class="wdc-heading style-1 text-left">
      <h2 class="chuyenmuc">Tìm kiếm: {{searchInput}}</h2>
      <hr>
    </div>
  </div>
</div>
<div class="site-wrapper-reveal">

  <!--====================  Blog Area Start ====================-->
  <div class="blog-pages-wrapper section-space--ptb_20">
    <div class="container">
      <div class="col-md-9">
        <div class="main-blog-wrap">
          <!--======= Single Blog Item Start ========-->
          <div *ngFor="let post of postList | paginate: { id: 'post',
                                                      itemsPerPage: paging.size,
                                                       currentPage: paging.page,
                                                      totalItems: paging.totalRecord } ;let i = index"
               class="col-lg-4  mb-30 ">
            <!--======= Single Blog Item Start ========-->
            <div class="single-blog-item blog-grid">
              <!-- Post Feature Start -->
              <div class="post-feature blog-thumbnail">
                <a style="height: 100%; width: 100%;" href="/tin-tuc/{{post.url}}">
                  <img  class="img-fluid" src="{{post.image.pathUrl}}" alt="Blog Images">
                </a>
              </div>
              <!-- Post Feature End -->

              <!-- Post info Start -->
              <div class="post-info lg-blog-post-info">
                <h5 class="post-title font-weight--bold">
                  <a href="/tin-tuc/{{post.url}}">{{post.title}}</a>
                </h5>
                <div class="post-excerpt mt-15">
                  <p>{{post.description}}</p>
                </div>

              </div>
              <!-- Post info End -->
            </div>
            <!--===== Single Blog Item End =========-->

          </div>
          <div class="col-lg-12 " *ngIf="paging.totalRecord >0">
            <div class="mt-30 row justify-content-center">

              <pagination-controls
                previousLabel="<"
                nextLabel=">"
                [id]="'post'"
                (pageChange)="handlePageChangeTest($event)"
                [maxSize]="paging.totalRecord"></pagination-controls>

            </div>

          </div>
          <!--===== Single Blog Item End =========-->
        </div>
      </div>
      <app-side-bar></app-side-bar>
    </div>
  </div>
  <!--====================  Blog Area End  ====================-->


</div>



<app-footer></app-footer>







