<div class="toolbar">
  <div class="container">
    <div class="d-lg-block d-none ">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex">
        </div>
        <div class="right-d-flex">
          <div class="d-flex  flex-wrap">
            <div class="">
              <a class="ht-btn-custom my-auto" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus"
                  style="font-size: 1.5em;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-lg-none d-block text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="border p-2" >
            <div class="d-flex" routerLink="add">
              <span class="mx-auto">Thêm mới </span>
              <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="galley section-space--mt_100 ">
  <div class="container">
    <p class="text-title text-uppercase">trình chiếu</p>
    <div class="hienthi section-space--mt_30 ">
      <div class="hienthi2 row  ">
        <!--ben trai -->
        <div class="hienthi-left col-md-9 col-8 ">
          <div class="giaodienanh">
            <div *ngIf="slider; then img;else slide"></div>
            <ng-template #img>
              <img src="{{imageURL}}" alt="" class="anh">
            </ng-template>
            <ng-template #slide>
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item " [class]=" i==0 ? 'active ' : '' "
                    *ngFor="let item of sliders ; let i = index;choose2(item)" data-bs-interval="3000">
                    <img src="{{baseURL}}/{{sliderURL}}/image/{{item.name}}" class="anh" alt="" (click)="choose(item)">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </ng-template>
          </div>
        </div>
        <!-- ben phai -->
        <div class="hienthi-right col-md-3 col-4">
          <p class="text-center chuc-nang mb-0 ">Thông tin</p>
          <div class="select-content-box" style="line-height: 250%;">
            <!-- <div class="select-content-item">
              <span><strong>Id: </strong></span>
              <span class="span2">{{target.id}}</span>
            </div> -->
            <div class="select-content-item">
              <span><strong>Tên: </strong></span>
              <span class="image-url-name span2" title="{{target.name}}">{{target.name}}</span>
            </div>

            <div class="select-content-item">
              <span><strong>Đường dẫn: </strong></span>
              <span class="image-url-name span2" title="{{baseURL}}{{target.url}}">{{baseURL}}{{target.url}}</span>
            </div>

            <!-- <div class="select-content-item">
              <span><strong>Liên kết: </strong></span>
              <span class="span2">{{target.link}}</span>
            </div> -->

            <div class="select-content-item">
              <span><strong>Trạng thái: </strong></span>
              <div *ngIf="target.active; else elseBlock">
                <span style="color: #50b848">
                  <i class="fa fa-dot-circle fa-xs"></i>
                </span>
                <span class="ml-1 span2">Hoạt động</span>
              </div>
              <ng-template #elseBlock>
                <span style="color: #e6c13d">
                  <i class="fa fa-dot-circle fa-xs"></i>
                </span>
                <span class="span2">Tạm ẩn</span>
              </ng-template>
            </div>
          </div>
          <p class="mt-0 text-center chuc-nang">Chức năng</p>
          <div class="select-content-box">
            <div class="action-box">
              <button routerLink="add" class="btn btnthem">
                <!-- <i class="fas fa-file-plus fa-lg"></i> -->
                <span>Thêm</span>
              </button>
              <button class="btn bg-success" *ngIf="target.active; else elseButton" (click)="hideImage(target.id)">
                <!-- <i class="far fa-eye-slash"></i> -->
                <span>Ẩn ảnh</span>
              </button>
              <ng-template #elseButton>
                <button class="btn bg-warning" (click)="show(target.id)">
                  <!-- <i class="far fa-eye"></i> -->
                  <span>Hiện ảnh</span>
                </button>
              </ng-template>
              <button (click)="updateSlider(target.id)" class="btn btn-primary ">
                <!-- <i class="far fa-pen"></i> -->
                <span>Sửa</span>
              </button>
              <button (click)="deleteImage(target.id)" class="btn bg-danger">
                <!-- <i class="far fa-trash-alt"></i> -->
                <span>Xóa</span>
              </button>
              <button title="slide" (click)="chuyenslide()" class="btn btn-info">
                <span>Chuyển chế độ</span>
              </button>
              <!-- <div class="w-100" >
                <img class="logochuyenslide w-100 " title="slide" (click)="chuyenslide()"
                  src="\assets\images\logoslide.jpg">
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="list_img">
        <div class="">
          <div class="card-body">
            <ul class="nav flex-column nav-pills d-flex col-md-12">
              <li class="nav-item selected " *ngFor="let slide of sliders">
                <div class="team-image " (click)="choose(slide)">
                  <img class="img-fluid" src="{{baseURL}}/{{sliderURL}}/image/{{slide.name}}" id="{{slide.id}}"
                    alt="{{slide.name}}">
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>