.header-menu{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  height: 30px;
  font-size: 20px;

}
.control{
  margin-top:7px;
  color: black;

}
.ht-btn-custom{
  font-size: 16px;
  color: #121213;
}

.form-control{
  padding-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top:7px;
  margin-left: 10px;
}

a:hover{
  text-decoration: none;
}

.item{
  padding: 5px;
  border: 0.5px solid gainsboro;
}


/*  */
.text-title{
  color: #50b848;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
.select-content-box{
  padding: 0px 20px 20px 20px ;
}

.header-menu {
  padding: 10px 15px 0px 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann {
  height: 30px;
  font-size: 20px;

}

.ht-btn-custom {
  margin-top: 2px;
  color: #1a1a1a;
}

.menu-item {
  margin-left: 15px;
  margin-top: 8px;
}


.hienthi-right {
  border: 1px solid violet;

}

.action-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  padding-top: 10px;
}

.action-box .btn {
  width: 100%;
  height: 40px;
}

.action-box .btnthem {
  width: 100%;
  background-color: rgb(42, 218, 42);
}

.hienthi2 {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.image-url-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
}

.viewimg {
  height: 260px;
  display: flex;
  justify-content: center;
}

.img-target-box {
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.control {
  margin-top: 7px;
  color: black;

}

.custom-select {
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-control {
  padding-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top: 7px;
  margin-left: 10px;
}

.inputt {
  margin-left: 0px;
  height: 30px;
  margin-top: 7px;
}

.slideitem {
  max-height: 190px;
  display: flex;
  position: absolute;
}

.slideitem::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.listslide {
  width: 180px;
  height: 100px;
  text-align: center;
  object-fit: cover;
  gap: 10px;
}


.img-fluid {
  height: 100%;
  display: flex;
  margin: auto;
}
.nav-item.selected {
  color: #fff;
  background-color: #007bff;
  margin-top: 30px;
}

@media (min-width: 1400px) {
  .giaodienanh {
    width: 803px;
    height: 415px;
    position: absolute;
    z-index: 3;
  }
  .anh {
    width: 98%;
    height: 95%;
  }
  .carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .carousel-inner{
    width: 100%;
    height: 100%;
   }
  
  
  .galley {
    margin: 80px auto 0 auto;
  }
 
  .logochuyenslide{
    max-width: 45px;
    position: absolute;
    z-index: 4;
    top:80%;
    left: 90%;
  }
  .carousel-item {
    width: 100%;
    height: 100%;
  }
  .item{
    width: 100%;
    height: 100%;
  }
  .fuild-img{
    height: 100%;
    width: 100%;
  }
  .hienthi-right {
    margin-left: 45px;
  }

  .select-content-item {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px dotted #000;
  }

  .select-content-item span:first-child {
    width: 80px;
    white-space: nowrap;
  }

  .nav {
    overflow: auto;
    margin-left: 39px;
    height: 170px;
    max-width: 1100px;
  }
  .nav-item {
    cursor: pointer;
    margin: 15px 10px;
    width: 180px;
    height: 100px;
    box-shadow: 0 4px 6px -6px #222;
    transition: 0.5s;
  }
  .container {
    width: 1200px
  }
  .team-image {
    height: 120px;
  }
  .nav-item:hover{
    margin: 20px;
  }
}
.chuc-nang{
  margin-top: 10px;
}

@media (min-width: 1200px)and (max-width:1400px) {
  .giaodienanh {
    width: 730px;
    height: 375px;
  }
  .galley {
    margin: 80px auto 0 auto;
  }
  .logochuyenslide{
    max-width: 45px;
    position: absolute;
    z-index: 4;
    top:80%;
    left: 90%;
  }
  .carousel-inner{
    width: 100%;
    height: 100%;
  }
  .fuild-img{
    width: 100%;
    height: 100%;
  }
  .hienthi2{
      width: 93%;
  }
  .hienthi-right h3,
  h2 {
    font-size: 25px;
  }

  .select-content-item {
    display: flex;
    gap: 24px;
    align-items: center;
    border-bottom: 1px dotted #000;
  }

  .select-content-item span:first-child {
    width: 60px;
    white-space: nowrap;
  }
  .chuc-nang{
    margin-top: 7px;
  }
  .nav {
    overflow: auto;
    margin-left: 40px;
    height: 150px;
    max-width: 1000px;
  }
  .nav-item {
    cursor: pointer;
    margin: 15px 10px;
    width: 179px;
    height: 100px;
    box-shadow: 0 4px 6px -6px #222;
    transition: 0.5s;
  }
  .team-image {
    height: 100px;
  }
  
  .nav-item:hover{
    margin: 20px;
  }
  .hienthi-right {
    margin-left: 70px;
  }
}

@media (min-width: 991px) and (max-width:1200px) {
  .giaodienanh {
    width: 600px;
    height: 350px;
  }
  .galley {
    margin-top: 80px;
    margin-left: -30px;
  }
  .logochuyenslide{
    max-width: 45px;
    position: absolute;
    z-index: 4;
    top:80%;
    left: 90%;
  }
  .anh {
    width: 98%;
    height: 100%;
  }

  .hienthi-right h3,
  h2 {
    font-size: 20px;
  }
  .select-content-item {
    display: flex;
    size: 15px;
    gap: 7px;
    align-items: center;
    border-bottom: 1px dotted #000;
  }

  .select-content-item span:first-child {
    width: 80px;
    white-space: nowrap;
  }
  .chuc-nang{
    margin-top: 7px;
  }
  .nav {
    overflow: auto;
    margin-left: 39px;
    height: 150px;
    max-width: 842px;
  }
  .nav-item {
    cursor: pointer;
    margin: 15px 10px;
    width: 140px;
    height: 90px;
    box-shadow: 0 4px 6px -6px #222;
    transition: 0.5s;
  }
  .nav-item:hover{
    margin: 20px;
  }
  .hienthi-right {
   margin-left: 10px;
  }

  .select-content-box {
    padding: 0;
  }
  .team-image {
    height: 90px;
  }
  
}

@media (min-width: 800px) and (max-width:991px) {
  .giaodienanh {
    width: 500px;
    height: 320px;
  }
  .galley {
    margin-top: 80px;
    margin-left: -20px;
  }
  .logochuyenslide{
    max-width: 45px;
    position: absolute;
    z-index: 4;
    top:80%;
    left: 90%;
  }
  .hienthi2{
    margin-left: 14px;
  }
  .anh {
    width: 94%;
    height: 100%;
  }

  .hienthi-right h3,
  h2 {
    font-size: 15px;
  }
  .select-content-item {
    display: flex;
    size: 10px;
    gap: 7px;
    align-items: center;
    border-bottom: 1px dotted #000;
  }

  .select-content-item span:first-child {
    width: 50px;
    white-space: nowrap;
  }
  .select-content-item strong{
    font-size: 10px;
  }
  .select-content-item .span2{
    font-size: 10px;
    margin-left: 7px;
  }
  .nav {
    overflow: auto;
    margin-left: 39px;
    height: 130px;
    max-width: 657px;
  }
  .nav-item {
    cursor: pointer;
    margin: 15px 5px;
    width: 107px;
    height: 70px;
    box-shadow: 0 4px 6px -6px #222;
    transition: 0.5s;
  }
  .nav-item:hover{
    margin: 20px;
  }
  .hienthi-right {
    margin-left: 50px;
  }

  .select-content-box {
    padding: 0;
  }
  .team-image {
    height: 70px;
  }
  .action-box {
    display: none;
  }  
  .chuc-nang{
    margin-top: 7px;
  }
}