<div class="toolbar">
  <div class="container">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="">
            <a class="ht-btn-custom my-auto" routerLink="add" title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="galley">
  <div class="container">
    <div class="hienthi ">
      <!--ben trai -->
      <div class="hienthi2 d-flex row">
        <div class="hienthi-left col-8">
          <div class="col-12">
            <div class="giaodienanh">
              <div *ngIf="slider; then img;else slide"></div>
              <ng-template #img>
              <img src="{{imageURL}}" alt="" class="anh">
            </ng-template>
            <ng-template #slide>
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item " [class]=" i==0 ? 'active ' : '' "  *ngFor="let item of sliders ; let i = index;choose2(item)"  data-bs-interval="3000">
                    <img  src="{{baseURL}}/{{sliderURL}}/image/{{item.name}}" class="anh" alt="" (click)="choose(item)">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </ng-template>
            <img class="logochuyenslide" title="slide" (click)="chuyenslide()"
             src="\assets\images\logoslide.jpg">
            </div>
          </div>
        </div>
        <!-- ben phai -->
        <div class="hienthi-right col-3">
          <h2 class="text-center">Thông tin</h2>
          <div class="select-content-box" style="line-height: 250%;font-size: 17x;">
            <div class="select-content-item">
              <span><strong>Id: </strong></span>
              <span class="span2">{{target.id}}</span>
            </div>

            <div class="select-content-item">
              <span><strong>Tên: </strong></span>
              <span class="image-url-name span2" title="{{target.name}}">{{target.name}}</span>
            </div>

            <div class="select-content-item">
              <span><strong>Đường dẫn: </strong></span>
              <span class="image-url-name span2" title="{{baseURL}}{{target.url}}">{{baseURL}}{{target.url}}</span>
            </div>

            <div class="select-content-item">
              <span><strong>Liên kết: </strong></span>
              <span class="span2">{{target.link}}</span>
            </div>

            <div class="select-content-item">
              <span><strong>Trạng thái: </strong></span>
              <div *ngIf="target.active; else elseBlock">
                <span style="color: #50b848">
                  <i class="fa fa-dot-circle fa-xs"></i>
                </span>
                <span class="ml-1 span2">Hoạt động</span>
              </div>
              <ng-template #elseBlock>
                <span style="color: #e6c13d">
                  <i class="fa fa-dot-circle fa-xs"></i>
                </span>
                <span class="span2">Tạm ẩn</span>
              </ng-template>
            </div>
          </div>
          <h3 class="mt-0 text-center chuc-nang">Chức năng</h3>
          <div class="select-content-box">
            <div class="action-box">
              <button routerLink="add" class="btn btnthem">
                <i class="fas fa-file-plus fa-lg"></i>
              </button>
              <button class="btn bg-success" *ngIf="target.active; else elseButton" (click)="hideImage(target.id)">
                <i class="far fa-eye-slash"></i>
              </button>
              <ng-template #elseButton>
                <button class="btn bg-warning" (click)="show(target.id)">
                  <i class="far fa-eye"></i>
                </button>
              </ng-template>
              <button (click)="updateSlider(target.id)" class="btn">
                <i class="far fa-pen"></i>
              </button>
              <button (click)="deleteImage(target.id)" class="btn bg-danger"><i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="list_img">
        <div class="">
          <div class="card-body">
            <ul class="nav flex-column nav-pills d-flex col-md-12">
              <li class="nav-item selected " *ngFor="let slide of sliders" >
                <div class="team-image " (click)="choose(slide)">
                  <img class="img-fluid" src="{{baseURL}}/{{sliderURL}}/image/{{slide.name}}" id="{{slide.id}}"
                    alt="{{slide.name}}">
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

</div>
</div>