
<div class="row">
  <div class="col-lg-4 col-6 ">
    <div class="contentt" style="padding: 5px 20px 20px 20px;">
      <div class="login">
        <img src="./assets/images/logoEcoit.jpg" alt="ecoit"
             style="width: 40%; height: auto; margin: 20px 0px 10px 0px;">
        <h5 class="text"> Đăng nhập </h5>
  
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
          <div *ngIf="isLoginFailed" class="error-mess mb-4">{{errorMessage}}</div>
  
          <div class="form-outline mb-4">
            <input type="text" name="username" autocomplete="username" [(ngModel)]="form.username" class="form-control" placeholder="Tên đăng nhập" required>
          </div>
  
          <div class="form-outline mb-4">
            <input type="password" name="password" autocomplete="current-password" [(ngModel)]="form.password" class="form-control" placeholder="Mật khẩu" required>
          </div>
          <div class="save-pass">
            <label class="save-pass-container">Nhớ mật khẩu?
              <input type="checkbox" name="remember-me" [(ngModel)]="form.remember">
              <span class="checkmark"></span>
            </label>
          </div>
  
          <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary btn-block fa-lg mb-3" type="submit">Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-6 ">
    <img src="./assets/images/bglogin.jpg" alt="liên hệ">
  </div>
</div>



