
.text-headeradmin{

  border-radius: 5px ;

  color: #34831a;
}
.header-left-headeradmin{
  font-size: 24px;
  color: black;
}
.header-admin{
  position: fixed;
  top: 0;
  right: 0;
  left: 270px;
  z-index: 10;
  background-color: #ffffff;
}


