<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
          <a class="control" style="width: 80px" routerLink="../albums"  routerLinkActive="active"><span class="spann">Kho Ảnh /</span></a>
        <a class="control"  style="width: 120px ;padding-right: 10px;" routerLink="../image-gallery" routerLinkActive="active"  ><span class="spann" style="font-weight: bolder;">Ảnh Hoạt Động</span></a>
       
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <select class="custom-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="menu-item">
          <a class="ht-btn-custom" routerLink="new"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-3">
            <div class="item-image">
              <img src="./assets/images/placeholder.png" alt="" style="height: 100%; width: 100%;">
            </div>
          </div>
          <div class="col-md-3">
            <div class="item-image">
              <img src="./assets/images/placeholder.png" alt="" style="height: 100%; width: 100%;">
            </div>
          </div>
          <div class="col-md-3">
            <div class="item-image">
              <img src="./assets/images/placeholder.png" alt="" style="height: 100%; width: 100%;">
            </div>
          </div>
          <div class="col-md-3">
            <div class="item-image">
              <img src="./assets/images/placeholder.png" alt="" style="height: 100%; width: 100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 info-img" >
        <div class="box">
          <div class="img-box">
            <img class="img-fluid" src="./assets/images/imgex.png" alt="Images" >
          </div>
          <div class="content-box">
            <span><strong>Tên: </strong></span>
            <span> ... </span>
            
          </div>
          <div class="content-box">
            <span><strong>Đầu đề: </strong></span>
            <span>... </span>
          </div>
          <div class="content-box">
            <span><strong>Mô tả: </strong></span>
            <span>... </span>
          </div>
          <div class="content-box">
            <span><strong>Trạng thái:  </strong></span>
            
              <span style="color: #50b848">
                <i class="fa fa-dot-circle fa-xs"></i>
              </span>
               <!-- hoạt động và ẩn  -->
            
          </div>
          <div class="content-btn" >
            <button class="btn"  style="margin-right: 10px;">Ẩn/Hiển</button>
            <button class="btn" style="margin-right: 10px;">Sửa</button> 
            <button class="btn">Xóa</button>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>