
.header-menu{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  height: 30px;
font-size: 15px; 

}
.control{

  color: black;
}
.control:hover{
  text-decoration: none;
}

.menu-item{
  padding-left: 20px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ht-btn-custom{
  font-size:16px;
  color:black;

}

/*  */
.gallery{
  margin: 120px 20px 0px 20px;
  
}
.info-img{
  box-shadow: 5px 10px 20px 10px rgba(92, 91, 94, 0.078);
  padding: 20px 30px;
}
.img-box{
  padding: 10px 10px 10px 10px;
}
.btn{
  width: 30%;
}
.btn + .btn{
  margin-left: 10px;
}
.content-box{
 margin: 5px 0px 5px 5px;

}
.content-btn{
  display: flex; 
    justify-content: center;

} 
.item-image{
  height: 120px;
  margin-bottom: 20px;
  border: 2px solid #1c5a24;
  border-radius: 10px;
}
.img-fluid{
  border-radius: inherit;
}
