.chuyenmuc{
  text-align: center ;
  font-size: 30px;
  margin-top: 20px;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}
#gachchan{
  width: 100px;
  margin-top: 20px;
  border-top: 1px solid #50b848;
}
.img-fluid{
  width: 100%;
  height: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.item{
  display:inline-block;
  width: 20%;

  height: 100%;
}
@media  only screen and (min-width:1024px) {
  .item-img{
    height: 170px
  }
  .item{
    margin: 15px;
  }
}
@media only screen and ( min-width:771px) and (max-width:1023px) {
  .item-img{
    height: 120px
  }
  .item{
    margin: 10px;
  }
}
@media only screen and ( min-width:545px) and (max-width:770px) {
  .item-img{
    height: 100px
  }
  .item{
    margin: 10px;
  }
}
@media only screen and (max-width:540px) {
  .item-img{
    height: 70px
  }
  .item{
    margin: 5px;
  }
}
