.chuyenmuc{
  text-align: center ;
  font-size: 30px;
  margin-top: 20px;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}
#gachchan{
  width: 100px;
  margin-top: 20px;
  border-top: 1px solid #50b848;
}
.img-fluid{
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.item{
  display:inline-block;
  /* width: 18%;
  height: 100%; */
}


.item-img{
  text-align: center;
}
@media only screen and (min-width:1400px){
  .item-img{
    height: 100%
  }

}

@media only screen and (min-width:1200px) and (max-width: 1399px){
  .item-img{
    height: 100%
  }

}

@media  only screen and (min-width:992px) and (max-width:1199px) {
  .item-img{
    height: 100%
  }

}
@media only screen and ( min-width:720px) and (max-width:991px) {
  .item-img{
    height: 100%
  }

}
@media only screen and ( min-width:545px) and (max-width:719px) {
  .item-img{
    height: 100%
  }

}
@media only screen and (max-width:540px) {
  .item-img{
    height: 100%
  }

}
