<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <h5 class="h5" >Bình luận</h5>
          <input type="text " class="form-control "  placeholder="Tìm kiếm" style="height: 30px; width: 110px;">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
          <div class="item-select">
            <select class="custom-select" style="width: 120px ; height: 30px;"  >
              <option >Lọc</option>
              <option>Blog</option>
              <option>Tin tức</option>
              <option>Tuyển dụng</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
              <select class="custom-select">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
              <a routerLink="../">
                <i class="fa fa-arrow-circle-o-left" style="font-size: 28px; margin-left: 8px; color: black;"></i>
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>



<div class="">
  <div class="container-xl   section-space--mt_100  ">
    <p class="text-title   ">bình luận</p>
    <div class="table-cmt section-space--mt_30 ">
      <div class="row">
        <div class="col-md-12">
          <div class="card title-comment py-2 "   >
            <div class="row">
              <div class="col-md-3 col-3">
                <p>Tên tác giả</p>
              </div>
              <div class="col-md-3 col-3">
                <p>Nội dung bình luận</p>
              </div>
              <div class="col-md-2 col-2">
                <p>Tên bài viết</p>
              </div>
              <div class="col-md-2 col-2">
                <p>Thời gian đăng</p>
              </div>
              <div class="col-md-2 col-2">
                <p>Chức năng</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- bodytable -->
      <div class=" list-cmt ">
        <div class="row">
          <div class="col-md-12" *ngFor="let cmt of commentList | paginate:{
                                    id:'cmt',
                                    itemsPerPage: paging.size,
                                    currentPage: paging.page,
                                    totalItems: paging.totalRecord  } ">
            <div class="card card-list py-md-2 py-1 ">
              <div class="row h-100">
                <div class="col-md-3  col-3 m-auto">
                  <div class="d-flex ml-1 ml-lg-3 ml-md-2 ">
                    <img class="mr-1 mr-md-2 w-20 my-auto " src="./assets/images/avt.jpg" alt="">
                    <div class="text-left my-auto pos-title ">
                      <!-- <span> <b> {{cmt.user.username}}</b></span>
                      <p>{{cmt.user.email}}</p> -->
                      <span> <b> {{cmt.userName}}</b></span>

                    </div>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      
    </div>
    </div>