.toolbar{
    height: 65px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
    border-top: 1px solid #eff2f5;
  }
  .header-menu{
    padding: 10px 15px 0px 12px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .h5{
    font-weight: bolder;
    font-size: 18px;
    color: black;
    width: 100%;
    margin-right: 10px;

  }
  .menu-item{
    padding-left: 20px;
    margin-top: 8px;
  }
  .custom-select{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .item-blog{
    margin-top: 30px;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  .inputt{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
  }
.input-group-text{
    margin-right: 10px;
}


.item-select{
  margin-top: 7px;
}
.custom-select{
  width: 60px;
  text-align: center;
  
  font-size: 15px;
}
  /*  */
  
   /* view mới */
   .cmt-content{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }

   .cmt-content:hover{
    text-decoration: none;
   }
   .col-md-2 , .col-md-3, .col-md-4{
    text-align: center;
   }
   .card-list{
    max-height: 70px;
    height: 70px;
   }
.list-cmt{
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 500px;
}
.list-cmt::-webkit-scrollbar{
  width: 0px !important;
  display: none;
}
.pos-title{
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  /* xác định hướng của bố cục : dọc*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.w-20{
  width: 20% !important;
}
.far{
  font-size:18px
}
.icon-item + .icon-item{
margin-left: 10px;
}
/* trả lời */

.delete-cmt{
  color: rgb(218, 53, 53);
}
.delete-cmt:hover{
  color: #772d2d;
  text-decoration: underline;
}
.dis-enable{
 color: #3781c2;
}
.dis-enable:hover{
  color: #35638c;
  text-decoration: underline;
}

img{
  
  height: 100%;
  border-radius: 50%;
}
.img-comment{
  text-align: center;
  align-items: center;
  margin: 0px 20px 0px 20px;
}
.tab{
  
  padding: 5px;
}
.reply-content{
  border: 0.3px solid #e8e8e8;
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: fit-content;
}
.child-content{
  width: 100%;
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  /* xác định hướng của bố cục : dọc*/
  overflow: hidden;
  text-overflow: ellipsis;
}
/* chi tieest mowsi =====*/

.img-reply{
  width: 70%;
  height: 100%;
  border-radius: 50%;
}

.info-comment{
  width: 70%;

}
.btn-update{
  width: 10%;
}
.btn-edit{
  border-radius: 5px;
  border: none;
}

.edit-cmtchild{
  width: 90%;
  height: 8em;
  overflow: auto;
   resize: vertical;
   border: 1px solid gainsboro;
   font-family: "Open Sans",Arial,sans-serif;
}
.edit-cmtchild:focus{
  color: #171717;
  border: 1px solid gainsboro;
}
/* 
.btn-link:hover{
  text-decoration: none;

}
.reply-submit{
 margin-bottom: 10px;
}

.reply-content{
  border: 0.3px solid #e8e8e8;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
  width: 100%;

}
.child-content{
  width: 100%;
   word-wrap: break-word;
} */

