<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <h5 class="h5" >Bình luận</h5>
          <input type="text " class="form-control "  placeholder="Tìm kiếm" style="height: 30px; width: 110px;">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
          <div class="item-select">
            <select class="custom-select" style="width: 120px ; height: 30px;"  >
              <option>Lọc</option>
              <option>Blog</option>
              <option>Tin tức</option>
              <option>Tuyển dụng</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
              <select class="custom-select">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
              <a routerLink="../">
                <i class="fa fa-arrow-circle-o-left" style="font-size: 26px; margin-left: 8px; color: black;"></i>

              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>


<div class="mt-5">
    <div class="container">
      <!-- <div class="detail">
          <table class="table table-striped" id="myTable">
            <thead>
              <tr style="font-weight: bold;">
                  <td >Tên Bài Viết</td>
                  <td  >Tên Người Gửi</td>
                  <td class="w-25">Nội Dung</td>
                  <td>Thời gian</td>
                  <td> </td>
              </tr>
            </thead>
            <tbody *ngFor="let cmt of commentList ">
              <tr >
                <td scope="row">{{cmt.post.title}}</td>
                  <td>{{cmt.user.username}}</td>
                  <td>
                    <a class="btn-link" data-toggle="collapse"  href="#reply{{cmt.id}}" >
                      {{cmt.content}}
                    </a>
                  </td>
                  <td>{{cmt.date}}</td>
                  <td> <span class="icon" >

                    <a *ngIf="cmt.status ; else hien"  class="icon-item" (click)="Disable(cmt.id)" ><i class="far fa-eye"></i> </a>
                    <ng-template #hien >
                      <a class="icon-item" (click)="Enable(cmt.id)"> <i class="far fa-eye-slash"></i> </a>
                    </ng-template>
                    <a  class="icon-item" (click)="Delete(cmt.id)"> <i class="fa fa-trash-o" style="font-size:22px"></i></a>
                  </span>
                  </td>
              </tr>
              <tr>
                <td colspan="7">
                  <div id="reply{{cmt.id}}" class="collapse" data-parent="#accordion" >
                    <div style="text-align:start;"   [innerHTML]="cmt.content" >
                    </div>
                    <div *ngFor="let cmtChild of commentListChild" class="d-flex flex-column" style="margin-bottom: 10px; margin-left: 10px; " >
                      <div class="reply-content row  " *ngIf="cmt.id == cmtChild.parentId">
                        <div class="col-md-2">
                          <div class="info-comment">
                            <div class="img-comment d-flex flex-column" style="margin: 0px;">
                              <img src="./assets/images/avt.jpg" alt="">
                              <span >
                          {{cmtChild.user.username}}
                          </span>
                              <span>{{cmtChild.date}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <p class="child-content">{{cmtChild.content}}</p>
                        </div>
                        <div class="col-md-2" *ngIf="userId == cmtChild.user.id ">
                          <a  href="" >Chỉnh sửa</a>
                          <a href="">Xóa</a>
                        </div>
                      </div>

                    </div>
                    <p style="text-align:start;">Nội dung trả lời</p>
                    <div  style="text-align:start;">Phần trả lời: </div>

                    <div style="text-align:start;" > <textarea name="" id="" cols="60" rows="3"></textarea>
                       <button class="btn">Gửi</button>
                    </div>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div> -->
      <div class="row" style="font-weight: bold; color: #1076bc;">
        <div class="col-md-2">
          <p>Tên bài viết</p>
        </div>
        <div class="col-md-2">
          <p>Tên tác giả</p>
        </div>
        <div class="col-md-4">
          <p>Nội dung bình luận</p>
        </div>
        <div class="col-md-2">
          <p>Thời gian đăng</p>
        </div>
        <div class="col-md-2">
          <p></p>
        </div>
      </div>
      <div class="row"  >
        <div class="col-md-12"  *ngFor="let cmt of commentList " >
          <div class="card" >
            <div class="row h-100" >
              <div class="col-md-2 m-auto">
                <p>{{cmt.post.title}}</p>
              </div>
              <div class="col-md-2 m-auto">
                <p>{{cmt.user.username}}</p>
              </div>
              <div class="col-md-4 m-auto">
                <p class="btn-link">{{cmt.content}}</p>
              </div>
              <div class="col-md-2 m-auto">
                <p>{{cmt.date}}</p>
              </div>
              <div class="col-md-2 m-auto">
                <span class="icon" >

                  <a *ngIf="cmt.status ; else hien"  class="icon-item" (click)="Disable(cmt.id)" ><i class="far fa-eye"></i> </a>
                  <ng-template #hien >
                    <a class="icon-item" (click)="Enable(cmt.id)"> <i class="far fa-eye-slash"></i> </a>
                  </ng-template>
                  <a  class="icon-item" (click)="Delete(cmt.id)"> <i class="fa fa-trash-o" style="font-size:22px"></i></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
