<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <h5 class="h5" >Bình luận</h5>
          <input type="text " class="form-control "  placeholder="Tìm kiếm" style="height: 30px; width: 110px;">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
              <select class="custom-select">
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
              <a routerLink="../">
                <i class="fa fa-arrow-circle-o-left" style="font-size: 26px; margin-left: 8px; color: black;"></i>

              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>


<div class="section-space--mt_120">
    <div class="container">
      <div class="row" style="font-weight: bold; color: #1076bc; font-size: 18px;">
          <div class="col-md-12">
              <div class="card " style="background-color: #eeeeee; ">
                  <div class="row">
                    <div class="col-md-3">
                      <p>Tên tác giả</p>
                    </div>
                    <div class="col-md-3">
                      <p>Nội dung bình luận</p>
                    </div>
                    <div class="col-md-2">
                      <p>Tên bài viết</p>
                    </div>
                    <div class="col-md-2">
                      <p>Thời gian đăng</p>
                    </div>
                    <div class="col-md-2">
                      <p>Chức năng</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="list-cmt">
        <div class="row">
          <div class="col-md-12"  *ngFor="let cmt of commentList " >
            <div class="card card-list" >
              <div class="row h-100" >
                <div class="col-md-3 m-auto">
                  <div class="d-flex ml-3 ">
                    <img class="mr-2 w-20" src="./assets/images/avt.jpg" alt="">
                    <div  class="text-left my-auto">
                      <span> <b> {{cmt.user.username}}</b></span>
                      <p>{{cmt.user.email}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 m-auto">
                  <p class="cmt-content">{{cmt.content}}</p>
                </div>
                <div class="col-md-2 m-auto">
                  <a href="" class="pos-title" >{{cmt.post.title}}</a>
                </div>
                <div class="col-md-2 m-auto">
                  <p>{{cmt.date}}</p>
                </div>
                <div class="col-md-2 m-auto">
                  <div class="icon" >
                    <a class="icon-item w-20"  data-toggle="collapse"  href="#reply{{cmt.id}}"> 
                      <img src="./assets/images/repcmt.png" style="width: 24px;" alt="">
                    </a>
                    <a *ngIf="cmt.status ; else hien"  class="icon-item " (click)="Disable(cmt.id)" ><i class="far fa-eye"></i> </a>
                    <ng-template #hien >
                      <a class="icon-item" (click)="Enable(cmt.id)"> <i class="far fa-eye-slash"></i> </a>
                    </ng-template>
                    <a  class="icon-item" (click)="Delete(cmt.id)"> <i class="fa fa-trash-o" style="font-size:22px"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div id="reply{{cmt.id}}" class="collapse card " data-parent="#accordion" > 
                <div class="row">
                  <div class="col-md-2">
                    <div class="info-comment mx-auto">
                      <div class="img-comment d-flex flex-column">
                        <img class="img-reply" src="./assets/images/avt.jpg" alt="">
                        <span>
                          {{cmt.user.username}}
                        </span>
                        <span>{{cmt.date}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <div class="content-comment ">
                      <span>{{cmt.content}}</span>
                      <div  >
                        <a class="btn-link mr-3 " (click)="addParentId(cmt.id,cmt.post.id)"  data-toggle="collapse" href="#{{cmt.id}}parent"> Trả lời</a>
                        <span *ngIf="userId == cmt.user.id " >
                          <a  data-toggle="collapse" href="#{{cmt.id}}editparent" >Chỉnh sửa</a>
                        </span>
                      </div>
                      <form (ngSubmit)="updateComment(cmt.id,cmt)">
                        <div id="{{cmt.id}}editparent" class="collapse " data-parent="#accordion">
                          <div class="reply-submit d-flex">
                            <textarea  name="content" id="" [(ngModel)]="cmt.content"
                              placeholder="Bạn nhập bình luận tại đây" cols="60" rows="3" ></textarea>
                            <button class="btn-success btn-edit" type="submit">Cập nhật </button>
                          </div>
                        </div>
                      </form>
                      <div *ngFor="let cmtChild of commentListChild">
                        <div style="margin-bottom: 10px;">
                          <div class="reply-content tab container mr-2 " *ngIf="cmt.id == cmtChild.parentId">
                            <div class="col-md-3">
                              <div class="info-comment">
                                <div class="img-comment d-flex " style="margin: 0px;">
                                  <img src="./assets/images/avt.jpg" style="width: 30% !important;" alt="">
                                  <div  class="text-left my-auto ml-1">
                                    <span> <b> {{cmtChild.user.username}}</b></span>
                                    <p>{{cmtChild.date}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <p class="child-content">{{cmtChild.content}}</p>
                            </div>
                            <div class="col-md-2 d-flex flex-column">
                              <div *ngIf="userId == cmtChild.user.id ">
                                <a data-toggle="collapse" href="#{{cmtChild.id}}editChild" >Chỉnh sửa</a>
                                
                              </div>
                              <a *ngIf="cmtChild.status ; else hien"  (click)="DisableChild(cmtChild.id)" ><span class="dis-enable">Ẩn</span> </a>
                              <ng-template #hien >
                                  <a (click)="EnableChild(cmtChild.id)" > <span class="dis-enable">Hiện</span> </a>
                              </ng-template>
                              <a (click)="DeleteChild(cmtChild.id)" ><span class="delete-cmt" >Xóa</span></a>
                            </div>
                            
                            <form (ngSubmit)="updateComment(cmtChild.id,cmtChild)">
                              <div  id="{{cmtChild.id}}editChild" class="collapse " data-parent="#accordion"  >
                                <div class="text-left  d-flex tab"> 
                                  <textarea name="contentChild" [(ngModel)]="cmtChild.content" id="content" cols="60" rows="3"></textarea>
                                  <button class="btn" type="submit" style="height: 65px;">Cập nhật</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <form (ngSubmit)="RepComment()">
                        <div id="{{cmt.id}}parent" class="collapse " data-parent="#accordion">
                          <div class="reply-submit d-flex ">
                            <textarea name="content" [(ngModel)]="comment.content" id="" cols="60" rows="3"></textarea>
                            <button class="btn" type="submit" style="height: 65px;">Gửi</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
