<div class="category-add contact-inner ">
    <form (ngSubmit)="onSubmit()"  enctype="multipart/form-data"  novalidate  >
    <label for="name">Tên Chuyên Mục <br>
        <input type="text" name="name" id="name" [(ngModel)]="category.typeName" required>
    </label>
  
    <div class="submit-button">
        <button type="submit"  class="btn btn-primary btn-lg btnn">Lưu</button>
        <button type="button" class="btn btn-secondary btn-lg btnn cancel"  (click)="cancle()" >Hủy</button>
      </div>
    </form>
</div>