.update_box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .update_box .image{
    position: relative;
    height: 210px;
    width: 100%;
  }
  .update_box .image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .update_box img{
    width: 100%;
    object-fit: fill;
  }
  .update_box strong{
    color: #212529;
  }
  .update_box input{
    padding: 10px;
    width: 100%;
    border: 1px solid #50B848;
  }
  .update_box2 strong{
    color: #212529;
  }
  .update_box2 input{
    padding: 10px;
    width: 100%;
  }
  .cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
  }

  textarea:focus{
    border: 1px solid #50B848;
    color: #000000;
  }
  input:focus{
    color: #000000;
  }
  .borderError {
    border: 1px solid red;
    color: black;
    margin-top: 10px;
  }
  
  .borderError:focus {
    border: 1pt solid red;
    margin-top: 10px;
    color: black;
  }
  
  .text-input {
    border: 1pt solid #50b848;
    color: black;
    margin-top: 10px;
  }
  .validateText{
    margin-top: 15px;
    color:red;
  }
  .text-title{
    color: #212529;
    font-weight: bold;
    text-align: center;
  }
/* .banner{
  height: 200px;
} */

.boder{
  margin: auto;
  width: 100%;
  border-radius: 5px;
  border: 1px px solid rgb(226 226 226);
  box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);
}
.title{
  padding: 20px;
  background-color: rgb(33,37,41,0.03);
}