<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <h5 class="h5" style="width:auto">Tài khoản</h5>
          <form (ngSubmit)="search()" class="d-flex">
            <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm">
            <div class="input-group-append inputt" >
              <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item ">
            <div class="d-flex">
              <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
              <app-page-size 
                (pageSizeChange)="handlepagesizechange($event)"
                [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size "
              ></app-page-size>
            </div>
          </div>
          <div class="menu-item" style="margin-top: 10px;">
            <a routerLink="add"  class="ht-btn-custom"   title="Thêm mới"><i class="fas fa-file-plus fa-lg"></i></a>
            <a style="margin-left: 20px;" title="Nhật kí" routerLink="../history" routerLinkActive="active">
              <i class="fas fa-history fa-lg">
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="" style="padding: 90px;">
  <div class="container">
    <div class="detail">
      
        <div class="header-user">
          <p class="user" >Người Dùng</p>
        </div>
        <hr style="margin-top:0px;">

        <table class="table table-striped" id="myTable">
          <thead>
            <tr>
              <td>Tên đăng nhập</td>
              <td>Họ</td>
              <td>Tên</td>
              <td>Email</td>
              <td>Trạng thái</td>
              <td>Quyền</td>

              <td></td>
            </tr>
          </thead>
          <tbody   *ngFor="let user of users  | paginate:{
            id:'user',
            itemsPerPage: paging.size,
            currentPage: paging.page,
            totalItems: paging.totalRecord }" >
              <tr  >
                <th scope="row" >{{user.username}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td *ngIf="user.active; else notWorking">
                <span style="color: #31A24C">
                    <i class="fas fa-circle fa-xs"></i>
                  </span>
                  <span class="ml-1">Hoạt động</span>
                </td>
                <ng-template #notWorking>
                  <td>
                  <span style="color: #d11616">
                      <i class="fas fa-circle fa-xs"></i>
                    </span>
                    <span class="ml-1"> Không hoạt động</span>
                  </td>
                </ng-template>
                <td>
                  <span *ngIf="user.role">
                    <app-tag-role *ngFor="let role of user.role" [codeRole]="role.name"></app-tag-role>
                  </span>
                </td>
                <!-- chỉnh css cho list user-->
                <td style="text-align: end;">
                  <span  class="icon status_admin icon-edit" ><a  class="icon-item" (click)="updateUser(user.id)"><i class="fas fa-pen i"></i></a></span>
                  <span class="icon icon-remove" >
                  <a class="icon-item" (click)="deleteUser(user.id)" ><i class="fas fa-trash-alt remove i"></i></a>
                </span>
                  <span class="icon icon-history"  >
                  <a class="icon-item" > <i class="fa fa-info fas i" ></i></a>
                </span>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
      <div class="row" style="margin-top: 10px;">
          <div class="col-md-3" *ngIf="paging.totalRecord>0" >
            <pagination-controls 
                [id]="'user'"
                previousLabel="<"
                nextLabel=">"
                (pageChange)="handlepagechange($event)"
                [maxSize]="paging.totalRecord"
            ></pagination-controls>
          </div>
      </div>
    
  </div>
</div>
