
.header-menu{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.menu-item{
  padding-left: 20px;
  margin-top: 8px;
}

.item-blog{
  margin-top: 30px;
}
.form-control{
  height: 30px;
  font-size: 15px;
  margin-top:7px;
}
input:focus{
  border: 1px solid #111111;
  color: black;
}

.searchinput{
  border-radius: 5px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
  height: 30px;
  width: 50%;
 } 

.fa-lg:hover{
  color: blue;

}

/*  */
.icon{

 position: static;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  
}
.icon-edit{
  background-color: #3366FF;
}
.icon-remove{
  background-color: rgb(255, 0, 30);
}
.icon-add{
 background-color: rgb(54, 219, 25);
 color: #eff2f5;
}
.icon-item{
  color: #eff2f5;
}
.icon-item:hover{
  color: black;
}
.status{
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.detail{
  box-sizing: border-box;
  border: 1px solid gainsboro;
}
.i{
  color: #ffffff;
}
.user{
  padding: 10px;
  background-color: #3a63dc;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
.table{
  border: 0.3px solid #000000;
  border-collapse: separate;
}
a{
  color: #000000;
}
input{
  height: 30px;
}
.ht-btn-custom{
  font-size: 15px;
}
.text-title{
  color: #50b848;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.des-post{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
table th{
  text-align: center;
}

