<div class="toolbar">
  <div class="container">
    <div class="d-none d-lg-block ">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex">
          <div class="d-flex">
            <form (ngSubmit)="search()" class="d-flex">
              <input class="searchinput mr-1" type="text" [(ngModel)]="searchInput" name="searchInput"
                placeholder="Tìm kiếm">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="right-d-flex my-auto ">
          <div class="d-flex ">
            <div class=" ">
              <div class="d-flex my-auto ">
                <span class="mr-1 my-auto">Số mục mỗi trang:</span>
                <app-page-size (pageSizeChange)="handlepagesizechange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size "></app-page-size>
              </div>
            </div>
            <div class="my-auto">
              <a routerLink="add" class="ht-btn-custom mx-3 " title="Thêm mới"><i
                  class="fas fa-file-plus fa-lg"></i></a>
              <a class="ht-btn-custom " title="Nhật kí" routerLink="../history" routerLinkActive="active">
                <i class="fas fa-history fa-lg">
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-block d-lg-none text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="border p-2"  >
            <form (ngSubmit)="search()" class="d-flex">
              <input class="searchinput mr-1 w-75 " type="text" [(ngModel)]="searchInput" name="searchInput"
                placeholder="Tìm kiếm">
              <div class="input-group-append ">
                <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </li>
          <li  class="border p-2 text-center "  >
            <span class="my-auto">Số mục mỗi trang:</span>
          </li>
          <li class="border p-2"  >
            <app-page-size (pageSizeChange)="handlepagesizechange($event)" [totalRecords]="paging.totalRecord"
                  [(pageSize)]="paging.size "></app-page-size>
          </li>
          <li class="border p-2">
            <div class="d-flex" routerLink="add">
              <span class="mx-auto">Thêm mới </span>
              <a class="ht-btn-custom mx-auto " title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i>
              </a>
            </div>
          </li>
          <li class="border p-2">
            <div class="d-flex" routerLink="../history" title="Nhật kí"  >
              <span class="mx-auto">Nhật kí</span>
              <a class="ht-btn-custom mx-auto " title="Nhật kí"><i class="fas fa-history fa-lg">
              </i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class=" section-space--mt_100">
  <div class="container">
    <div class="title-conten">
      <p class="text-title">NGƯỜI DÙNG</p>
      <table class="table section-space--mt_30 ">
        <thead style="position: sticky;top: 0 ; z-index: 1;">
          <tr>
            <th scope="col" style="width: 15%;">Tên đăng nhập</th>
            <th class="" scope="col">Tên</th>
            <th class="" scope="col">Email </th>
            <th class="" scope="col">Trạng thái</th>
            <th class="" scope="col">Quyền</th>
            <th class="" scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users  | paginate:{
            id:'user',
            itemsPerPage: paging.size,
            currentPage: paging.page,
            totalItems: paging.totalRecord};">
          <tr>
            <td style="width:15% ">
              {{user.username}}
            </td>
            <td class="w-25">
              <p class="des-post ">{{user.lastName}}
              </p>
            </td>
            <td class="text-center">
              <p>{{user.email}}</p>
            </td>
            <td class="text-center" *ngIf="user.active; else notWorking">
              <span style="color: #31A24C">
                <i class="fas fa-circle fa-xs"></i>
              </span>
              <span class="ml-1">Hoạt động</span>
            </td>
            <ng-template #notWorking>
              <td>
                <span style="color: #d11616">
                  <i class="fas fa-circle fa-xs"></i>
                </span>
                <span class="ml-1"> Không hoạt động</span>
              </td>
            </ng-template>
            <td class="text-center">
              <span *ngIf="user.role">
                <app-tag-role *ngFor="let role of user.role" [codeRole]="role.name"></app-tag-role>
              </span>
            </td>
            <td style="text-align: center;">
              <span class="icon status_admin icon-edit"><a class="icon-item" (click)="updateUser(user.id)"><i
                    class="fas fa-pen i"></i></a></span>
              <span class="icon icon-remove">
                <a class="icon-item" (click)="deleteUser(user.id)"><i class="fas fa-trash-alt remove i"></i></a>
              </span>
              <!-- <span class="icon icon-add">
                <a class="icon-item" (click)="addRoleUser(user.id)"> <i class="fa fa-plus" aria-hidden="true"></i></a>
              </span> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="margin-top: 10px;" *ngIf="paging.totalRecord>0">
      <div class="col-md-3">
        <pagination-controls [id]="'user'" previousLabel="<" nextLabel=">" (pageChange)="handlepagechange($event)"
          [maxSize]="paging.totalRecord"></pagination-controls>
      </div>
    </div>
  </div>