<div class="toolbar">
  <div class="container">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <form (ngSubmit)="search()" class="d-flex">
            <input class="searchinput mr-1" type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Tìm kiếm">
            <div class="input-group-append " >
              <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-d-flex my-auto ">
        <div class="d-flex ">
          <div class=" ">
            <div class="d-flex my-auto ">
              <span class="mr-1 my-auto">Số mục mỗi trang:</span>
              <app-page-size
                (pageSizeChange)="handlepagesizechange($event)"
                [totalRecords]="paging.totalRecord"
                [(pageSize)]="paging.size "  ></app-page-size>
            </div>
          </div>
          <div class="my-auto">
            <a routerLink="add"  class="ht-btn-custom mx-3 "   title="Thêm mới"><i class="fas fa-file-plus fa-lg"></i></a>
            <a class="ht-btn-custom "  title="Nhật kí" routerLink="../history" routerLinkActive="active">
              <i class="fas fa-history fa-lg">
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" section-space--mt_120">
  <div class="container">
    <div class="detail">

        <div class="header-user">
          <p class="user" >Người Dùng</p>
        </div>
        
        <table class="table table-striped mb-0 " id="myTable">
          <thead>
            <tr>
              <td  >Tên đăng nhập</td>
              <td>Họ</td>
              <td>Tên</td>
              <td>Email</td>
              <td>Trạng thái</td>
              <td>Quyền</td>

              <td></td>
            </tr>
          </thead>
          <tbody   *ngFor="let user of users  | paginate:{
            id:'user',
            itemsPerPage: paging.size,
            currentPage: paging.page,
            totalItems: paging.totalRecord};" >
              <tr  >
                <td scope="row" >{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td *ngIf="user.active; else notWorking">
                <span style="color: #31A24C">
                    <i class="fas fa-circle fa-xs"></i>
                  </span>
                  <span class="ml-1">Hoạt động</span>
                </td>
                <ng-template #notWorking>
                  <td>
                  <span style="color: #d11616">
                      <i class="fas fa-circle fa-xs"></i>
                    </span>
                    <span class="ml-1"> Không hoạt động</span>
                  </td>
                </ng-template>
                <td>
                  <span *ngIf="user.role">
                    <app-tag-role *ngFor="let role of user.role" [codeRole]="role.name"></app-tag-role>
                  </span>
                </td>
                <!-- chỉnh css cho list user-->
                <td style="text-align: center;">
                  <span  class="icon status_admin icon-edit" ><a  class="icon-item" (click)="updateUser(user.id)"><i class="fas fa-pen i"></i></a></span>
                  <span class="icon icon-remove" >
                  <a class="icon-item" (click)="deleteUser(user.id)" ><i class="fas fa-trash-alt remove i"></i></a>
                </span>
                  <span class="icon icon-history"  >
                  <a class="icon-item" > <i class="fa fa-info fas i" ></i></a>
                </span>
                </td>
              </tr>

          </tbody>
        </table>
      </div>

      <div class="row" style="margin-top: 10px;" *ngIf="paging.totalRecord>0">
          <div class="col-md-3"  >
            <pagination-controls
                [id]="'user'"
                previousLabel="<"
                nextLabel=">"
                (pageChange)="handlepagechange($event)"
                [maxSize]="paging.totalRecord"
            ></pagination-controls>
          </div>
      </div>

  </div>
</div>
