.toolbar{
    height: 65px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
    border-top: 1px solid #eff2f5;
  }
  .header-menu{
    padding: 10px 15px 0px 12px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .spann{
    color: #0d0d0d;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    width: 80%;
  }
  .search{
    margin-left: 10px;
    height: 30px;
    margin-top: 7px;
    width: 100px;
  }

  .menu-item{
    padding-left: 20px;
    margin-top: 8px;
  }

  .input-group-append{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
  }
  .ht-btn-custom{
    margin-top: 3px
    ;
    color: black;
  }
  .menu-link{
    margin-top: 3px;

  }
  .menu-link + .menu-link{
    margin-left: 9px;
  }
.selected-number{
  font-size: 15px;
}
  /* TRE */
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {

    list-style-type: none;
  }
  .mat-tree-node:hover{
    background-color: #e3e3e3;
  }

  .mat-tree-node{
    border-radius: 5px;
  }
 .mat-tree{

 }
.btn-tree:focus{
 background-color: white;
}
.icon-navi{
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}