
<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <span  class="spann tt">Điều hướng</span>
          <input type="text "  placeholder="Tìm kiếm" class="search">
          <div class="input-group-append " >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="right-d-flex">
        <div class="d-flex  flex-wrap">
          <div class="menu-item d-flex">
            <!-- <i class="fas fa-trash-alt " (click)="deleteNavigation(actionId)" style="margin-right: 10px;font-size: 18px ;"></i>
           <i class="	fas fa-edit" (click)="updateNavigation(actionId)" style="font-size: 18px ;"> </i> -->
          </div>
          <div class="d-flex selected" *ngIf="selects">
            <span style="margin-right: 6px; margin-top: 2px;">Đã chọn </span>
            <div class="selected-number">{{selects}}</div>
            <div class="menu-link">
              <a class="selected-number "  title="Xóa"> 
                <i class="far fa-trash-alt fa-lg"></i>
              </a>
            </div>
            <div class="menu-link" >
              <a class="selected-number" title="Hủy" (click)="uncheckAll()">
                <i class="far fa-times fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="menu-item ">
            <div class="d-flex">
              <span class="mt-1 mr-1">Số mục mỗi trang:</span>
              <select class="custom-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          
          
          <div class="menu-item">
            <a class="ht-btn-custom" routerLink="add"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  -->
  <div class="d-flex flex-column flex-column-fluid">

      <div class="navi-page">
        <div class="container">
          <div class="faq-wrapper">
            <div id="accordion">
              <ul>
                <!-- tesst vis dụ tick checkbox -->
                <!--  -->
                <li *ngFor="let nav1 of navigation|  paginate: {
                                                      id: 'nav',
                                                      itemsPerPage: paging.size,
                                                      currentPage: paging.page,
                                                      totalItems: paging.totalRecord };">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a class="has-child collapsed {{nav1.navChild.length > 0 ? 'active' : ''}}" data-toggle="collapse" href="#collapse{{nav1.id}}"></a>
                      <input  #checkboxes type="checkbox" [value]="nav1.selected" (change)="onCheckChange($event, nav1)">
                      <span class="slacttar px-2 ml-2 mr-3" id="{{nav1.id}}" (click)="actionTarget($event)">{{nav1.name}}</span>
                      <i class="	fas fa-edit" style="font-size: 12px ;"(click)="updateNavigation(nav1.id)"> </i>
                      <!-- <span *ngIf="nav1.id ;  else prompt">
                      <i class="fas fa-trash-alt " style="margin-right: 15px;font-size: 14px ;" (click)="deleteNavigation(nav1.id)"></i>
                      <i class="	fas fa-edit" style="font-size: 14px ;"(click)="updateNavigation(nav1.id)"> </i>
                      </span>
                        <ng-template #prompt></ng-template> -->
                    </div>
                    <a href="/{{nav1.url}}" target="_blank">{{nav1.url}}</a>
                  </div>

                  <div id="collapse{{nav1.id}}" class="link-child collapse" data-parent="#accordion">
                    <ul class="ml-4">
                      <li *ngFor="let nav2 of nav1.navChild " class="d-flex justify-content-between align-items-center">
                        <div style="width: 500px">
                          <input #checkboxes type="checkbox" [value]="nav2.selected" (change)="onCheckChange($event, nav2)">
                          <span  class="slacttar ml-2 mr-3 " id="{{nav2.id}}" (click)="actionTarget($event)">{{nav2.name}}</span>
                          <!-- <i class="fas fa-trash-alt " style="margin-right: 15px;font-size: 14px ;"  (click)="deleteNavigation(nav2.id)"></i> -->
                          <i class="	fas fa-edit" style="font-size: 12px ;" (click)="updateNavigation(nav2.id)"> </i>
                        </div>
                        <a href="/{{nav2.url}}" target="_blank">{{nav2.url}}</a>
                      </li>
                      <li>
                        <a type="button" class="ht-btn-custom" >
                          <i class="far fa-plus-circle mr-1" routerLink="add"></i>
                          <span id="{{nav1.id}}" routerLink="add">Thêm...</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
  </div>

