.header-menu{
  text-align: center;
  justify-content: center;
  align-content: center;
}
.title-cate{
  font-weight: bolder;
  font-size: 18px;
  color: black;
  margin-right: 10px;
}

.ht-btn-custom{
  font-size: 16px;
  color: #121213;
}
.menu-item{
  margin-left: 15px;
  margin-top: 8px;
}

.name-navi{
  color: #fff;
  border-color: #454d55;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

.icon-navi{
  cursor: pointer;
}

.search{
  border-radius: 5px;
  height: 30px;
  width: 110px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
}

.input-search:focus{
  color: black;
  border: 1px solid black;
}

.inputt{
  margin-left: 0px;
  height: 30px;
  
}
.input-group-text{

}
.menu-link{
  font-size: 1rem;
}
.searchinput{
  /* text-transform: uppercase; */
  border-radius: 5px;
  align-items: center;
  background-color: #EAEFF4;
  border: 1px solid #F6F9FC;
  height: 30px;
  width: 50%;
 } 
/* == */
.title-navi{
  background-color: #5D87FF;
}
.table{
  border: 0.5px  solid #5D87FF;
}

.title-conten{
  text-align: center;
  padding: 0px 0px 40px 0px;
}
.text-title{
  color: #50b848;
  font-size: 30px;
  font-weight: bold;

}
.hr{
  width: 150px;
  background-color: #50b848;
  font-weight: bolder;
}

.action-box {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 18px;
}

.btnn{
  border: 0px ;
  width: 27px;

}
.btnn:hover{
  color: black;
}
.content-box{
  font-weight: bolder;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

}
.itemm{
  padding-bottom: 15px;
  color: #50b848;
  font-size: 25px;
  text-transform: capitalize;
}


.number-item{
display: inline-block;
width: 18%;
margin: 0px 20px 20px 0px;
}
.card{
border: 1px solid rgb(226 226 226);
box-shadow: 0px 0px 12px 6px rgba(0,0,0,0.06);

}
.img-reload{
width: 18px;
height: 18px;
}
