
<div class="toolbar">
  <div class="container">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
          <input type="text " (click)="searchTitleAndDescription()" placeholder="Tìm kiếm" class="searchinput">
          <div class="input-group-append " >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="right-d-flex my-auto">
        <div class="d-flex  flex-wrap">
          <div class="d-flex selected  my-auto " *ngIf="selects">
            <span style="margin-right: 6px; margin-top: 2px;">Đã chọn: </span>
            <div class="selected-number menu-link ">{{selects}}</div>
            <div class="menu-link">
              <a class=" " (click)="clearnAll()"  title="Xóa">
                <i class="far fa-trash-alt fa-lg"></i>
              </a>
            </div>
            <div class="menu-link" >
              <a class="" title="Hủy" (click)="uncheckAll()">
                <i class="far fa-times fa-lg"></i>
              </a>
            </div>
          </div>
          <div class="mx-2">
            <div class="d-flex">
              <span class="my-auto mr-1">Số mục mỗi trang:</span>
                 <app-app-page-size-image  (pageSizeChange)="handlePageChange($event)"
                                          [totalRecords]="paging.totalRecord"
                                          [(pageSize)]="paging.size"></app-app-page-size-image>
            </div>
          </div>

          <div class="">
            <a class="ht-btn-custom my-auto" routerLink="add"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </div>

  <div class="container  section-space--mt_80">
    <h3 class="text-title mb-5 ">điều hướng</h3>
    <div class="row title">
      <button mat-icon-button disabled  ></button>
      <div class="col-md-4 name-navi ">Tên</div>
      <div class="col-md-4 name-navi">đường dẫn </div>
    </div>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mat-tree">

      <mat-tree-node *matTreeNodeDef="let nav"   matTreeNodePadding >
          <li class="mat-tree-node">
            <button mat-icon-button disabled></button>
            <input  #checkboxes type="checkbox" [value]="nav.selected" [class.selected]="nav.selected"  name="foo" (change)="onCheckChange($event, nav)">
            <div class="col-4" >  {{ nav.name.toUpperCase() }}</div>
            <div class="col-4" > <a href="/{{nav.url}}" target="_blank" class="url-navi">{{nav.url}}</a></div>

            <div class="col-3" ><i class="	fas fa-edit  icon-navi  "  (click)="updateNavigation(nav.id)" ></i>
              <i class="fas fa-trash-alt icon-navi "  (click)="deleteNavigation(nav.id)"></i></div>
          </li>

      </mat-tree-node>
      <mat-tree-node  *matTreeNodeDef="let nav; when: hasChild"  matTreeNodePadding >
          <div  class="mat-tree-node ">
            <button mat-cell  mat-icon-button matTreeNodeToggle class="btn-tree"
                    [attr.aria-label]="'toggle ' + nav.name">
              <mat-icon class="mat-icon-rtl-mirror  ">
                {{treeControl.isExpanded(nav) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <input  #checkboxes type="checkbox" name="foo" [value]="nav.selected" (change)="onCheckChange($event, nav)">

            <div  class="col-4" > {{ nav.name.toUpperCase()}}</div>
            <div class="col-4" > <a href="/{{nav.url}}" target="_blank" ></a></div>
            <div class="col-3" >
              <i class="fas fa-edit  icon-navi "  (click)="updateNavigation(nav.id)"  ></i>
              <i class="fas fa-trash-alt icon-navi " (click)="deleteNavigation(nav.id)"  ></i>
            </div>
          </div>
          
      </mat-tree-node>
    </mat-tree>
  </div>


