
  .header-menu{

    text-align: center;
    justify-content: center;
    align-content: center;
  }
  
  .spann{
    color: #333333;
    font-size: 15px;
  }

  .menu-item{
    padding-left: 20px;
    margin-top: 8px;
  }
  .custom-select{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .item-blog{
    margin-top: 30px;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  .inputt{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
  }
  .action-box {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fff;
  }
  .btnn{
    border: 0px;
    width: 50px;
    height: 100px;
  }
  .tittle-blog{
    font-family: Rubik;
  }

  a:hover{
    text-decoration: none;
  }
  /*  */
  .text-title{
    color: #50b848;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

.product-thumb-image{
  height: 140px;
  width: 100%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.img-fluid{
  height: 100%;
  width: 100%;

}
.img-fluid:hover{
  box-shadow: 1px 1px 20px 10px #9c9c9c55;
  
}
  .info-img{
   padding: 20px 30px;
  }
  .img-box{
    padding: 10px 10px 10px 10px;
  }
  .btn{
  
  }
  .content-box{
   margin: 10px 5px 10px 5px;
  
  }
  .content-btn{
    display: flex; 
      justify-content: center;
      
    margin: 5px 0px 5px 5px;

  } 
  
  .page-albums{
   overflow: auto;
  }
  .list-img{
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 700px;
  }
  .list-img::-webkit-scrollbar{
    width: 0px !important;
    display: none;
  }