<div class="toolbar">
  <div class="container">
    <div class="d-md-block d-none ">
      <div class="d-flex  justify-content-between header-menu ">
        <div class="left-d-flex">
          <div class="d-flex">
            <a class="control" style="width: 80px" routerLink="../"><span style="font-weight: bold;" class="spann">Kho
                Ảnh
                /</span></a>

          </div> <!--   -->
        </div>
        <div class="right-d-flex">
          <div class="d-flex  flex-wrap">
            <div class="d-flex">
              <span class=" mr-1">Số mục mỗi trang:</span>
              <app-app-page-size-image (pageSizeChange)="handlePageSizeChange($event)"
                [totalRecords]="paging.totalRecord" [(pageSize)]="paging.size"></app-app-page-size-image>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile -->
    <div class="d-block d-md-none text-end ">
      <div class="btn-group dropstart">
        <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="dropdown-menu p-0">
          <li class="border p-2 text-center ">
            <a class="control" style="font-weight: 600;" routerLink="../tImage"><span class="spann">Ảnh Hoạt
                Động</span></a>
          </li>
          <li class="border p-2 text-center ">
            <span class=" mr-1">Số mục mỗi trang:</span>
          </li>
          <li class="border p-2">
            <app-app-page-size-image (pageSizeChange)="handlePageSizeChange($event)" [totalRecords]="paging.totalRecord"
              [(pageSize)]="paging.size"></app-app-page-size-image>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="container section-space--mt_100 ">
  <p class="text-title text-uppercase section-space--mb_30">kho ảnh</p>
  <div class="d-flex flex-column  page-albums">
    <div class="row text-center row-cols-4 mt-3">
      <div class="col mx-auto folder">
        <a class="control" style="width: 120px ;" routerLink="../tImage">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="144" height="144" viewBox="0 0 48 48">
            <linearGradient id="Om5yvFr6YrdlC0q2Vet0Ha_WWogVNJDSfZ5_gr1" x1="-7.018" x2="39.387" y1="9.308" y2="33.533"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#fac017"></stop>
              <stop offset=".909" stop-color="#e1ab2d"></stop>
            </linearGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0Ha_WWogVNJDSfZ5_gr1)"
              d="M44.5,41h-41C2.119,41,1,39.881,1,38.5v-31C1,6.119,2.119,5,3.5,5h11.597	c1.519,0,2.955,0.69,3.904,1.877L21.5,10h23c1.381,0,2.5,1.119,2.5,2.5v26C47,39.881,45.881,41,44.5,41z">
            </path>
            <linearGradient id="Om5yvFr6YrdlC0q2Vet0Hb_WWogVNJDSfZ5_gr2" x1="5.851" x2="18.601" y1="9.254" y2="27.39"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#fbfef3"></stop>
              <stop offset=".909" stop-color="#e2e4e3"></stop>
            </linearGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0Hb_WWogVNJDSfZ5_gr2)" d="M2,25h20V11H4c-1.105,0-2,0.895-2,2V25z">
            </path>
            <linearGradient id="Om5yvFr6YrdlC0q2Vet0Hc_WWogVNJDSfZ5_gr3" x1="2" x2="22" y1="19" y2="19"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#fbfef3"></stop>
              <stop offset=".909" stop-color="#e2e4e3"></stop>
            </linearGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0Hc_WWogVNJDSfZ5_gr3)" d="M2,26h20V12H4c-1.105,0-2,0.895-2,2V26z">
            </path>
            <linearGradient id="Om5yvFr6YrdlC0q2Vet0Hd_WWogVNJDSfZ5_gr4" x1="16.865" x2="44.965" y1="39.287" y2="39.792"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#e3a917"></stop>
              <stop offset=".464" stop-color="#d79c1e"></stop>
            </linearGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0Hd_WWogVNJDSfZ5_gr4)"
              d="M1,37.875V38.5C1,39.881,2.119,41,3.5,41h41c1.381,0,2.5-1.119,2.5-2.5v-0.625H1z"></path>
            <linearGradient id="Om5yvFr6YrdlC0q2Vet0He_WWogVNJDSfZ5_gr5" x1="-4.879" x2="35.968" y1="12.764" y2="30.778"
              gradientUnits="userSpaceOnUse">
              <stop offset=".34" stop-color="#ffefb2"></stop>
              <stop offset=".485" stop-color="#ffedad"></stop>
              <stop offset=".652" stop-color="#ffe99f"></stop>
              <stop offset=".828" stop-color="#fee289"></stop>
              <stop offset="1" stop-color="#fed86b"></stop>
            </linearGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0He_WWogVNJDSfZ5_gr5)"
              d="M44.5,11h-23l-1.237,0.824C19.114,12.591,17.763,13,16.381,13H3.5C2.119,13,1,14.119,1,15.5	v22C1,38.881,2.119,40,3.5,40h41c1.381,0,2.5-1.119,2.5-2.5v-24C47,12.119,45.881,11,44.5,11z">
            </path>
            <radialGradient id="Om5yvFr6YrdlC0q2Vet0Hf_WWogVNJDSfZ5_gr6" cx="37.836" cy="49.317" r="53.875"
              gradientUnits="userSpaceOnUse">
              <stop offset=".199" stop-color="#fec832"></stop>
              <stop offset=".601" stop-color="#fcd667"></stop>
              <stop offset=".68" stop-color="#fdda75"></stop>
              <stop offset=".886" stop-color="#fee496"></stop>
              <stop offset="1" stop-color="#ffe8a2"></stop>
            </radialGradient>
            <path fill="url(#Om5yvFr6YrdlC0q2Vet0Hf_WWogVNJDSfZ5_gr6)"
              d="M44.5,40h-41C2.119,40,1,38.881,1,37.5v-21C1,15.119,2.119,14,3.5,14h13.256	c1.382,0,2.733-0.409,3.883-1.176L21.875,12H44.5c1.381,0,2.5,1.119,2.5,2.5v23C47,38.881,45.881,40,44.5,40z">
            </path>
          </svg>
          <span class="spann ms-3">Ảnh Hoạt Động</span></a>
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
    <!-- <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <div class="col-lg-8 col-8 ">
        <div class="row list-img ">
          <div class="col-lg-3 col-md-4 col-6 mb-2 mb-sm-3 " *ngFor="let img of image |  paginate: {
                       id: 'album',
                    itemsPerPage: paging.size,
                    currentPage: paging.page,
                    totalItems: paging.totalRecord }  ">
            <div class="product-thumb-image" (click)="pick($event)">
              <img class="img-fluid" src="{{baseURL}}/{{fileURL}}/image/{{img.name}}" alt="{{img.name}}" id="{{img.id}}"
                appHideMissing>

            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="paging.totalRecord>0" class="col-md-12 text-center">

            <pagination-controls previousLabel="<" nextLabel=">" [id]="'album'" (pageChange)="handlepagechange($event)"
              [maxSize]="paging.totalRecord"></pagination-controls>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-4 ">
        <div class="box border ">
          <div class="p-1">
            <img class="img-fluid" src="{{target.url}}" alt="Images" appHideMissing>
          </div>
          <div class="content-box">
            <span><strong>Tên: </strong></span>
            <span class="text-break">{{target.name}}</span>

          </div>
          <div class="content-box">
            <span style="width: 100%; display: inline-block; word-wrap: break-word;"><strong>Url: </strong>
              {{target.url}}
            </span>

          </div>
          <div class="content-box">
            <span><strong>Trạng thái: </strong></span>

            <span style="color: #50b848">
              <i class="fa fa-dot-circle fa-xs"></i>
            </span>
            <span> Hoạt động</span>

          </div>
          <div class="content-btn row w-100 mx-auto px-1 mt-1 mt-md-4 ">
            <button (click)="downloadimg(target.id)" class="btn btn-primary col-md-4 col-12 mr-0 mr-md-4  ">Tải xuống
            </button>
            <button class="btn btn-primary  col-md-4 col-12 mt-2 mt-md-0  " (click)="deleteFile(target.id)">Xóa
            </button>
          </div>
        </div>
      </div> 
    </div>-->
  </div>
</div>