<app-header></app-header>
<img style="width: 100%; " class="banner"  src="./assets/images/ecoit/banner-gioi-thieu-v2.jpg" alt="">

<div class="container" style="padding: 0x 20px 0px 20px">
  <div class="row">
    <div class="col-md-9">
      <div class="my-4">
        <div >
          <p style="margin-top: 30px; font-size: 30px;" class="chuyenmuc" >HỒ SƠ NĂNG LỰC</p>
              <!-- <hr id="gachchan" class="gioithieu"> -->
        </div>
        
            <p>Quý khách hàng vui lòng để lại thông tin, đội ngũ tư vấn của chúng tôi sẽ liên hệ và gửi tới quý khách cuốn 
              hồ sơ năng lực sớm nhất.
            </p>
      </div>
    </div>
    <app-side-bar class="col-md-3" ></app-side-bar>
  </div>

</div>



<app-footer></app-footer>

