<div class="toolbar">

</div>  
<div class="container section-space--mt_60">
    <form (submit)="onSubmit()">
        <div class="row">
            <div class="col-lg-12">
                <div class="update_box">
                    <span><strong>Ảnh bìa</strong></span>
                    <div class="image">
                      <img  src="{{imageURL}}" alt="" appHideMissing>
                    </div>
                    <input type="file" accept="image/png, image/jpeg" value="select" (change)="imageChange($event)">
                  </div>
            </div>
            <div class="col-lg-4">
                <!-- <div class="update_box">
                    <h3 style="color: #37bd3e; margin-top: 0px;">Thông tin</h3>
                    <input type="text"  name="url" [(ngModel)]="slider.url" placeholder="liên kết">

                </div> -->
                <div class="submit-button my-4">
                    <button type="submit" class="btn btn-primary btn-lg mr-4 w-25 " [disabled]="!disabled">Lưu</button>
                  <button type="button" class="btn btn-secondary btn-lg  cancel w-25 " (click)="goToSliderList()" >Hủy</button>
                  </div>
            </div>
        </div>
    </form>
</div>
