<app-header></app-header>
<img style="width: 100%;" class="banner" src="./assets/images/ecoit/banner-gioi-thieu-v2.jpg" alt="">


<div class="container" style="padding: 0x 20px 0px 20px">
  <div class="row">
    <div class="col-md-9">
      <div class="my-4">
        <div class="heading_text_left">
          <h2 style="margin-top: 30px; font-size: 30px;" class="chuyenmuc" >VỀ CHÚNG TÔI</h2>
              <hr id="gachchan" class="gioithieu">
        </div>
        <div class="colum_inner">
            <div class="content" [innerHTML]="content" >
            </div>
        </div>
      </div>
    </div>
    
    <app-side-bar class="col-md-3" ></app-side-bar>
  </div>
</div>

<app-footer></app-footer>
