
<div style="border-style: groove; margin-top: 20px; margin-bottom: 30px;" >
    <div class="title">
        <div class="row">
            <div class="col-md-9">
                <div class="title-more">
                   <p>Bài viết liên quan </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content" >
        <div class="row ">
            <div  class="col-12 "  *ngFor=" let post of postList ; let i = index" >
                <div >
                    <div style="height: 100%;"   class="item" *ngIf="i<4">
                        <div class="col-md-4">
                            <div class="image">
                                <img  src="{{baseURL}}/{{postURL}}/image/{{post.id}}" alt="image">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="title-content">
                                <a class="aa" href="/tin-tuc/{{post.url}}">
                                    <p class="title-content">{{post.title}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
